Radaelli Simone 845065

You have to work on the Dogs adoptions dataset.

It contains three files:

- dogs.csv, shortly dogs
- dogTravel.csv, shortly travels
- NST-EST2021-POP.csv

Notes

- It is mandatory to use GitHub for developing the project.
- The project must be a jupyter notebook.
- There is no restriction on the libraries that can be used, nor on the Python version.
- All questions on the project must be asked in a public channel on Zulip.
- At most 3 students can be in each group. You must create the groups by yourself.
- You do not have to send me the project before the discussion.

In [1]:
import pandas as pd
import numpy as np

In [2]:
#lettura e stampa dataset
dogs = pd.read_csv("C:/Users/Simone/Uni/MAGISTRALE/Foundation of Computer Science/dogs.csv", encoding = 'latin-1', sep=',', low_memory = False)
dogs.head()

,id,org_id,url,type.x,species,breed_primary,breed_secondary,breed_mixed,breed_unknown,color_primary,...,contact_city,contact_state,contact_zip,contact_country,stateQ,accessed,type.y,description,stay_duration,stay_cost
0,46042150,NV163,https://www.petfinder.com/dog/harley-46042150/...,Dog,Dog,American Staffordshire Terrier,Mixed Breed,True,False,White / Cream,...,Las Vegas,NV,89147,US,89009,2019-09-20,Dog,Harley is not sure how he wound up at shelter ...,70,124.81
1,46042002,NV163,https://www.petfinder.com/dog/biggie-46042002/...,Dog,Dog,Pit Bull Terrier,Mixed Breed,True,False,Brown / Chocolate,...,Las Vegas,NV,89147,US,89009,2019-09-20,Dog,6 year old Biggie has lost his home and really...,49,122.07
2,46040898,NV99,https://www.petfinder.com/dog/ziggy-46040898/n...,Dog,Dog,Shepherd,NaN,False,False,Brindle,...,Mesquite,NV,89027,US,89009,2019-09-20,Dog,Approx 2 years old.\n Did I catch your eye? I ...,87,281.51
3,46039877,NV202,https://www.petfinder.com/dog/gypsy-46039877/n...,Dog,Dog,German Shepherd Dog,NaN,False,False,NaN,...,Pahrump,NV,89048,US,89009,2019-09-20,Dog,NaN,62,145.83
4,46039306,NV184,https://www.petfinder.com/dog/theo-46039306/nv...,Dog,Dog,Dachshund,NaN,False,False,NaN,...,Henderson,NV,89052,US,89009,2019-09-20,Dog,Theo is a friendly dachshund mix who gets alon...,93,241.09

In [3]:
#lettura e stampa dataset
travel = pd.read_csv("C:/Users/Simone/Uni/MAGISTRALE/Foundation of Computer Science/dogTravel.csv", encoding = 'latin-1', sep=',', low_memory = False)
travel.head()

,index,id,contact_city,contact_state,description,found,manual,remove,still_there
0,0,44520267,Anoka,MN,Boris is a handsome mini schnauzer who made hi...,Arkansas,NaN,NaN,NaN
1,1,44698509,Groveland,FL,Duke is an almost 2 year old Potcake from Abac...,Abacos,Bahamas,NaN,NaN
2,2,45983838,Adamstown,MD,Zac Woof-ron is a heartthrob movie star lookin...,Adam,Maryland,NaN,NaN
3,3,44475904,Saint Cloud,MN,~~Came in to the shelter as a transfer from an...,Adaptil,NaN,True,NaN
4,4,43877389,Pueblo,CO,Palang is such a sweetheart. She loves her peo...,Afghanistan,NaN,NaN,NaN

In [4]:
#lettura e stampa dataset
state = pd.read_csv("C:/Users/Simone/Uni/MAGISTRALE/Foundation of Computer Science/NST-EST2021-POP.csv", encoding = 'latin-1', sep=',', low_memory = False)
state.head()

        state  population contact_state
0     Alabama   5.024.279            AL
1      Alaska     733.391            AK
2     Arizona   7.151.502            AZ
3    Arkansas   3.011.524            AR
4  California  39.538.223            CA

# 1. Extract all dogs with status that is not 'adoptable'

In [5]:
df_mask = dogs.status != "adoptable"
dogs[df_mask]

,id,org_id,url,type.x,species,breed_primary,breed_secondary,breed_mixed,breed_unknown,color_primary,...,contact_city,contact_state,contact_zip,contact_country,stateQ,accessed,type.y,description,stay_duration,stay_cost
644,41330726,NV173,https://www.petfinder.com/dog/gunther-gunny-41...,Dog,Dog,German Shepherd Dog,NaN,False,False,NaN,...,NV,89146,US,89009,2019-09-20,NaN,Dog,Meet handsome 3 year old Gunther. Gunther came...,108,256.88
5549,38169117,AZ414,https://www.petfinder.com/dog/annabelle-annie-...,Dog,Dog,Boxer,Pit Bull Terrier,True,False,Black,...,AZ,85249,US,AZ,2019-09-20,NaN,Dog,You can fill out an adoption application onlin...,80,130.77
10888,45833989,NY98,https://www.petfinder.com/dog/pepper-courtesy-...,Dog,Dog,Beagle,NaN,False,False,NaN,...,NY,12220,US,CT,2019-09-20,NaN,Dog,This is Pepper. He is a 15 year old tri-color ...,86,180.70
11983,45515547,NY98,https://www.petfinder.com/dog/cooper-courtesy-...,Dog,Dog,Mixed Breed,NaN,False,False,NaN,...,NY,12220,US,CT,2019-09-20,NaN,Dog,"Cooper is 13 years old, but according to a ver...",105,400.82
12495,45294115,NY98,https://www.petfinder.com/dog/daisy-courtesy-l...,Dog,Dog,Basset Hound,NaN,False,False,Brown / Chocolate,...,NY,12220,US,CT,2019-09-20,NaN,Dog,"ÃƒÂ¢Ã‚Â€Ã‚Â¢Basset Hound, female, ÃƒÂ¢Ã‚Â€Ã‚Â¢10 years \n\...",57,82.61
12600,45229004,NY1436,https://www.petfinder.com/dog/elmo-momo-452290...,Dog,Dog,American Bulldog,NaN,True,False,NaN,...,NY,12477,US,CT,2019-09-20,NaN,Dog,"Hello i'm MoMo or Elmo , 7 year old, mixed bre...",73,136.30
12613,45227052,NY1436,https://www.petfinder.com/dog/bianca-pinky-452...,Dog,Dog,Mixed Breed,NaN,False,False,White / Cream,...,NY,12477,US,CT,2019-09-20,NaN,Dog,"Hello I'm Bianca, a female, 7 year old mixed b...",107,231.31
17619,45569380,CA1209,https://www.petfinder.com/dog/baby-girl-455693...,Dog,Dog,Maltese,NaN,False,False,White / Cream,...,VA,20136,US,DC,2019-09-20,NaN,Dog,This 10-year young senior is very sweet and lo...,76,263.63
18611,44694387,MD295,https://www.petfinder.com/dog/king-bert-bertie...,Dog,Dog,Fox Terrier,Chihuahua,True,False,Bicolor,...,MD,20905,US,DC,2019-09-20,NaN,Dog,"\""Bertie\"" came to us from the shelter. He wa...",61,158.84
19747,36978896,VA127,https://www.petfinder.com/dog/maddie-cutie-pat...,Dog,Dog,Alaskan Malamute,NaN,False,False,Bicolor,...,PA,17325,US,DC,2019-09-20,NaN,Dog,Maddie is our little Miss Cutie Patootie! She ...,119,431.66
19845,33218331,VA127,https://www.petfinder.com/dog/bucky-are-u-my-h...,Dog,Dog,Alaskan Malamute,Siberian Husky,True,False,Gray / Blue / Silver,...,PA,17325,US,DC,2019-09-20,NaN,Dog,"Born in August 2014, Bucky has a great sense o...",98,346.67
22161,42092005,PA738,https://www.petfinder.com/dog/chloe-little-ras...,Dog,Dog,Pit Bull Terrier,Pointer,True,False,Black,...,PA,19063,US,DE,2019-09-20,NaN,Dog,"Meet Chloe our \""Little Rascal.\",113,279.59
22229,39594038,PA562,https://www.petfinder.com/dog/cozi-h-wilson-lo...,Dog,Dog,Pit Bull Terrier,NaN,True,False,NaN,...,PA,19053,US,DE,2019-09-20,NaN,Dog,01.04.19\nHi Folks! IÃƒÂ¢Ã‚Â€Ã‚Â™m Cozi and IÃƒÂ¢Ã‚Â€Ã‚Â™m...,88,360.84
29283,45895274,IL688,https://www.petfinder.com/dog/gibson-edgar-gib...,Dog,Dog,Labrador Retriever,NaN,True,False,Brown / Chocolate,...,IL,61944,US,IL,2019-09-20,NaN,Dog,Gibson Edgar is a 12 month old male Lab mix th...,74,121.56
30471,45964719,IN694,https://www.petfinder.com/dog/puppies-berries-...,Dog,Dog,American Staffordshire Terrier,Border Collie,True,False,Black,...,IN,46158,US,IN,2019-09-20,NaN,Dog,11 Berry Pups\nIndividual pics will be done. ...,127,429.87
31581,44538917,OH907,https://www.petfinder.com/dog/leila-courtesy-p...,Dog,Dog,Australian Shepherd,Husky,True,False,"Tricolor (Brown, Black, & White)",...,OH,45061,US,IN,2019-09-20,NaN,Dog,THIS IS A COURTESY POST (this means that any a...,92,188.49
31888,41430442,OH907,https://www.petfinder.com/dog/eden-in-training...,Dog,Dog,Hound,NaN,True,False,White / Cream,...,OH,45061,US,IN,2019-09-20,NaN,Dog,Eden is estimated 3 years old and weighs 40 lb...,97,238.60
33000,45907639,IN714,https://www.petfinder.com/dog/coach-chris-mack...,Dog,Dog,Chihuahua,Beagle,True,False,Yellow / Tan / Blond / Fawn,...,IN,47131,US,KY,2019-09-20,NaN,Dog,"Mack is a 2 year old, 13 pound furry chihuahua...",101,478.36
33527,45362806,OH852,https://www.petfinder.com/dog/liberty-libby-45...,Dog,Dog,Pomeranian,NaN,False,False,NaN,...,OH,45249,US,KY,2019-09-20,NaN,Dog,Liberty came to us on the 3rd of July - she ha...,65,185.05
34188,32590894,IN595,https://www.petfinder.com/dog/samson-sam-32590...,Dog,Dog,Mastiff,Labrador Retriever,True,False,Black,...,IN,47454,US,KY,2019-09-20,NaN,Dog,DUE TO PROBLEMS WITH THE CURRENT PETFINDER UPD...,116,413.96
35065,31426754,LA256,https://www.petfinder.com/dog/sully-sullivan-3...,Dog,Dog,Pit Bull Terrier,NaN,False,False,Black,...,LA,70601,US,LA,2019-09-20,NaN,Dog,Hi my name is Sully! I get along with most dog...,122,204.63
44830,46037827,NM133,https://www.petfinder.com/dog/periwinkle-wink-...,Dog,Dog,Australian Shepherd,Spaniel,True,False,Brown / Chocolate,...,NM,87108,US,NM,2019-09-20,NaN,Dog,We take the time to post pertinent information...,85,296.75
53168,44044071,TN669,https://www.petfinder.com/dog/raymond-reddingt...,Dog,Dog,American Staffordshire Terrier,NaN,True,False,Red / Chestnut / Orange,...,TN,38506,US,TN,2019-09-20,NaN,Dog,Red is a 4-5 yr old Staffey mix that is a wig...,88,230.12
53539,27521132,TN577,https://www.petfinder.com/dog/norma-rose-rosie...,Dog,Dog,Yellow Labrador Retriever,American Staffordshire Terrier,True,False,Yellow / Tan / Blond / Fawn,...,TN,37189,US,TN,2019-09-20,NaN,Dog,Robyn's Nest Animal Rescue & SanctuaryNashvill...,93,300.50
55434,38473806,VA486,https://www.petfinder.com/dog/markey-moose-384...,Dog,Dog,Hound,NaN,False,False,White / Cream,...,VA,24588,US,VA,2019-09-20,NaN,Dog,"Markey \""Moose\"" first came to us after being ...",78,71.15
55467,34101432,VA628,https://www.petfinder.com/dog/george-boy-georg...,Dog,Dog,Labrador Retriever,NaN,True,False,Yellow / Tan / Blond / Fawn,...,VA,23112,US,VA,2019-09-20,NaN,Dog,Contact dojennings@Comcast.net or Debbie Jenni...,115,320.23
55915,45958435,WA581,https://www.petfinder.com/dog/skipper-45958435...,Dog,Dog,Yorkshire Terrier,Terrier,True,False,"Tricolor (Brown, Black, & White)",...,WA,98106,US,WA,2019-09-20,NaN,Dog,For a quicker response please submit a online ...,102,338.18
55975,45927580,WA581,https://www.petfinder.com/dog/bella-45927580/w...,Dog,Dog,Chihuahua,NaN,False,False,White / Cream,...,WA,98106,US,WA,2019-09-20,NaN,Dog,"Meet \""Bella\"" She is a adorable and 7 pounds ...",102,407.51
56013,45916348,WA581,https://www.petfinder.com/dog/cody-45916348/wa...,Dog,Dog,Golden Retriever,Terrier,True,False,Bicolor,...,WA,98106,US,WA,2019-09-20,NaN,Dog,*Please apply online at www.6dogrees.com to ge...,92,164.55
56248,45733027,WA581,https://www.petfinder.com/dog/gracie-45733027/...,Dog,Dog,Papillon,Cavalier King Charles Spaniel,True,False,Golden,...,WA,98106,US,WA,2019-09-20,NaN,Dog,"Meet \""Gracie\"" a very beautiful 11 pound,fema...",82,168.54
56464,45413997,WA581,https://www.petfinder.com/dog/jameson-45413997...,Dog,Dog,Rat Terrier,Chihuahua,True,False,"Tricolor (Brown, Black, & White)",...,WA,98106,US,WA,2019-09-20,NaN,Dog,"Meet \""Jameson\"" He is a very handsome 9 pound...",108,297.27
56473,45406516,WA581,https://www.petfinder.com/dog/canelo-45406516/...,Dog,Dog,Chihuahua,Terrier,True,False,Bicolor,...,WA,98106,US,WA,2019-09-20,NaN,Dog,"Meet Canelo a adorable small, tan very sweet...",94,312.10
56541,45264615,WA581,https://www.petfinder.com/dog/noni-45264615/wa...,Dog,Dog,Chihuahua,Terrier,True,False,Black,...,WA,98106,US,WA,2019-09-20,NaN,Dog,"Meet \""Noni\"" She is a Black and white smooth ...",77,290.16

# 2. For each (primary) breed, determine the number of dogs

In [6]:
razza = dogs.groupby(by = "breed_primary").count()
razza.id

breed_primary
Affenpinscher                         17
Afghan Hound                           4
Airedale Terrier                      19
Akbash                                 3
Akita                                181
                                    ...
Wirehaired Pointing Griffon            1
Wirehaired Terrier                    60
Xoloitzcuintli / Mexican Hairless     11
Yellow Labrador Retriever            158
Yorkshire Terrier                    360
Name: id, Length: 216, dtype: int64

# 3. For each (primary) breed, determine the ratio between the number of dogs of Mixed Breed and those not of Mixed Breed. Hint: look at the secondary_breed.

In [7]:
#spampa dimensioni dateset
dim=np.array(dogs)
dim.shape

(58180, 37)

In [8]:
#spampa dimensioni dateset
dim_razza =np.array(razza)
dim_razza.shape

(216, 36)

In [9]:
#conta dei cani di razza mista e non
lmix = []
lnmix = []
for i in range(len(razza)):
    mix = 0
    nmix = 0
    for j in range(len(dogs)):
        if razza.index[i] == dogs.breed_primary[j]:
            if dogs.breed_mixed[j] :
                mix = mix + 1
            elif not(dogs.breed_mixed[i]) :
                nmix = nmix +1
    lmix.append(mix)
    lnmix.append(nmix)

In [10]:
razza['Mixed'] = lmix
razza['Not_Mixed'] = lnmix
columns_to_print = ['Mixed', 'Not_Mixed']
print(razza[columns_to_print])

                                   Mixed  Not_Mixed
breed_primary
Affenpinscher                          5          0
Afghan Hound                           4          0
Airedale Terrier                      17          2
Akbash                                 2          1
Akita                                 83         98
...                                  ...        ...
Wirehaired Pointing Griffon            1          0
Wirehaired Terrier                    45         15
Xoloitzcuintli / Mexican Hairless      5          0
Yellow Labrador Retriever            122          0
Yorkshire Terrier                    203          0

[216 rows x 2 columns]

# 4. For each (primary) breed, determine the earliest and the latest posted timestamp.

In [11]:
dim=np.array(dogs)
dim.shape

(58180, 37)

In [12]:
#find a error
a = 0
for i in range(len(dogs)):
     if dogs.posted[i] == 'Las Vegas':
            a = dogs.index[i]
dogs = dogs.drop(a)
dogs = dogs.reset_index(drop=True)
len(dogs)

58179

In [13]:
#find a error
b = 0
for i in range(len(dogs)):
     if dogs.posted[i] == 'Chandler':
            b = dogs.index[i]
dogs = dogs.drop(b)
dogs = dogs.reset_index(drop=True)
len(dogs)

58178

In [14]:
#find a error
c = 0
for i in range(len(dogs)):
     if dogs.posted[i] == 'Albany':
            c = dogs.index[i]
dogs = dogs.drop(c)
dogs = dogs.reset_index(drop=True)
len(dogs)

58177

In [15]:
#find a error
d = 0
for i in range(len(dogs)):
     if dogs.posted[i] == 'Albany':
            d = dogs.index[i]
dogs = dogs.drop(d)
dogs = dogs.reset_index(drop=True)
len(dogs)

58176

In [16]:
#find a error
e= 0
for i in range(len(dogs)):
     if dogs.posted[i] == 'Albany':
            e = dogs.index[i]
dogs = dogs.drop(e)
dogs = dogs.reset_index(drop=True)
len(dogs)

58175

In [17]:
#find a error
f= 0
for i in range(len(dogs)):
     if dogs.posted[i] == 'Saugerties':
            f = dogs.index[i]
dogs = dogs.drop(f)
dogs = dogs.reset_index(drop=True)
len(dogs)

58174

In [18]:
#find a error
g = 0
for i in range(len(dogs)):
     if dogs.posted[i] == 'Saugerties':
            g = dogs.index[i]
dogs = dogs.drop(g)
dogs = dogs.reset_index(drop=True)
len(dogs)

58173

In [19]:
#find a error
h = 0
for i in range(len(dogs)):
     if dogs.posted[i] == 'Bristow':
            h = dogs.index[i]
dogs = dogs.drop(h)
dogs = dogs.reset_index(drop=True)
len(dogs)

58172

In [20]:
#find a error
l = 0
for i in range(len(dogs)):
     if dogs.posted[i] == 'Silver Spring':
            l = dogs.index[i]
dogs = dogs.drop(l)
dogs = dogs.reset_index(drop=True)
len(dogs)

58171

In [21]:
#find a error
m = 0
for i in range(len(dogs)):
     if dogs.posted[i] == 'Gettysburg':
            m = dogs.index[i]
dogs = dogs.drop(m)
dogs = dogs.reset_index(drop=True)
len(dogs)

58170

In [22]:
#find a error
n = 0
for i in range(len(dogs)):
     if dogs.posted[i] == 'Gettysburg':
            n = dogs.index[i]
dogs = dogs.drop(n)
dogs = dogs.reset_index(drop=True)
len(dogs)

58169

In [23]:
#find a error
o = 0
for i in range(len(dogs)):
     if dogs.posted[i] == 'Media':
            o = dogs.index[i]
dogs = dogs.drop(o)
dogs = dogs.reset_index(drop=True)
len(dogs)

58168

In [24]:
#find a error
p = 0
for i in range(len(dogs)):
     if dogs.posted[i] == 'Feasterville':
            p = dogs.index[i]
dogs = dogs.drop(p)
dogs = dogs.reset_index(drop=True)
len(dogs)

58167

In [25]:
#find a error
q = 0
for i in range(len(dogs)):
     if dogs.posted[i] == 'Paris':
            q = dogs.index[i]
dogs = dogs.drop(q)
dogs = dogs.reset_index(drop=True)
len(dogs)

58166

In [26]:
#find a error
r = 0
for i in range(len(dogs)):
     if dogs.posted[i] == 'Mooresville':
            r = dogs.index[i]
dogs = dogs.drop(r)
dogs = dogs.reset_index(drop=True)
len(dogs)

58165

In [27]:
#find a error
s = 0
for i in range(len(dogs)):
     if dogs.posted[i] == 'Ross':
            s = dogs.index[i]
dogs = dogs.drop(s)
dogs = dogs.reset_index(drop=True)
len(dogs)

58164

In [28]:
#find a error
t = 0
for i in range(len(dogs)):
     if dogs.posted[i] == 'Ross':
            t = dogs.index[i]
dogs = dogs.drop(t)
dogs = dogs.reset_index(drop=True)
len(dogs)

58163

In [29]:
#find a error
u = 0
for i in range(len(dogs)):
     if dogs.posted[i] == 'Jeffersonville':
            u = dogs.index[i]
dogs = dogs.drop(u)
dogs = dogs.reset_index(drop=True)
len(dogs)

58162

In [30]:
#find a error
v = 0
for i in range(len(dogs)):
     if dogs.posted[i] == 'Cincinnati':
            v = dogs.index[i]
dogs = dogs.drop(v)
dogs = dogs.reset_index(drop=True)
len(dogs)

58161

In [31]:
#find a error
z = 0
for i in range(len(dogs)):
    if dogs.posted[i] == 'Paoli':
        z = dogs.index[i]
dogs = dogs.drop(z)
dogs = dogs.reset_index(drop=True)
len(dogs)

58160

In [32]:
#find a error
j = 0
for i in range(len(dogs)):
     if dogs.posted[i] == 'lake charles':
            j = dogs.index[i]
dogs = dogs.drop(j)
dogs = dogs.reset_index(drop=True)
len(dogs)

58159

In [33]:
#find a error
k = 0
for i in range(len(dogs)):
     if dogs.posted[i] == 'Albuquerque':
            k = dogs.index[i]
dogs = dogs.drop(k)
dogs = dogs.reset_index(drop=True)
len(dogs)

58158

In [34]:
#find a error
w = 0
for i in range(len(dogs)):
     if dogs.posted[i] == 'Cookeville':
            w = dogs.index[i]
dogs = dogs.drop(w)
dogs = dogs.reset_index(drop=True)
len(dogs)

58157

In [35]:
#find a error
x = 0
for i in range(len(dogs)):
     if dogs.posted[i] == 'Nashville':
            x = dogs.index[i]
dogs = dogs.drop(x)
dogs = dogs.reset_index(drop=True)
len(dogs)

58156

In [36]:
#find a error
z = 0
for i in range(len(dogs)):
     if dogs.posted[i] == 'Rustburg':
            z = dogs.index[i]
dogs = dogs.drop(z)
dogs = dogs.reset_index(drop=True)
len(dogs)

58155

In [37]:
#find a error
aa = 0
for i in range(len(dogs)):
     if dogs.posted[i] == 'Midlothian':
            aa = dogs.index[i]
dogs = dogs.drop(aa)
dogs = dogs.reset_index(drop=True)
len(dogs)

58154

In [38]:
#find a error
bb = 0
for i in range(len(dogs)):
     if dogs.posted[i] == 'Seattle':
            bb = dogs.index[i]
dogs = dogs.drop(bb)
dogs = dogs.reset_index(drop=True)
len(dogs)

58153

In [39]:
#find a error
cc = 0
for i in range(len(dogs)):
     if dogs.posted[i] == 'Seattle':
            cc = dogs.index[i]
dogs = dogs.drop(cc)
dogs = dogs.reset_index(drop=True)
len(dogs)

58152

In [40]:
#find a error
dd = 0
for i in range(len(dogs)):
     if dogs.posted[i] == 'Seattle':
            dd = dogs.index[i]
dogs = dogs.drop(dd)
dogs = dogs.reset_index(drop=True)
len(dogs)

58151

In [41]:
#find a error
ee = 0
for i in range(len(dogs)):
     if dogs.posted[i] == 'Seattle':
            ee = dogs.index[i]
dogs = dogs.drop(ee)
dogs = dogs.reset_index(drop=True)
len(dogs)

58150

In [42]:
#find a error
ff = 0
for i in range(len(dogs)):
     if dogs.posted[i] == 'Seattle':
            ff = dogs.index[i]
dogs = dogs.drop(ff)
dogs = dogs.reset_index(drop=True)
len(dogs)

58149

In [43]:
#find a error
gg = 0
for i in range(len(dogs)):
     if dogs.posted[i] == 'Seattle':
            gg = dogs.index[i]
dogs = dogs.drop(gg)
dogs = dogs.reset_index(drop=True)
len(dogs)

58148

In [44]:
#find a error
hh = 0
for i in range(len(dogs)):
     if dogs.posted[i] == 'Seattle':
            hh = dogs.index[i]
dogs = dogs.drop(hh)
dogs = dogs.reset_index(drop=True)
len(dogs)

58147

In [45]:
#numero di errori 
num_err = dim.shape[0] - len(dogs)
num_err

33

In [46]:
#valore percentuale delle righe tolte
perc = num_err*100/dim.shape[0]
perc

0.056720522516328635

In [47]:
for i in range(len(dogs)):
    dogs.posted[i] = pd.to_datetime(dogs.posted[i])

C:\Users\Simone\AppData\Local\Temp/ipykernel_11100/4152476010.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dogs.posted[i] = pd.to_datetime(dogs.posted[i])

In [48]:
last = dogs.groupby(['breed_primary'])['posted'].max()
last

breed_primary
Affenpinscher                       2019-09-14 10:10:51+00:00
Afghan Hound                        2019-07-27 00:38:48+00:00
Airedale Terrier                    2019-09-19 18:40:39+00:00
Akbash                              2019-08-23 17:11:04+00:00
Akita                               2019-09-20 15:19:57+00:00
                                               ...
Wirehaired Pointing Griffon         2016-06-29 20:03:55+00:00
Wirehaired Terrier                  2019-09-19 22:52:45+00:00
Xoloitzcuintli / Mexican Hairless   2019-09-08 11:15:54+00:00
Yellow Labrador Retriever           2019-09-20 06:30:27+00:00
Yorkshire Terrier                   2019-09-20 16:56:38+00:00
Name: posted, Length: 216, dtype: datetime64[ns, UTC]

In [49]:
first = dogs.groupby(['breed_primary'])['posted'].min()
first

breed_primary
Affenpinscher                       2012-03-08 10:27:33+00:00
Afghan Hound                        2017-06-29 23:28:51+00:00
Airedale Terrier                    2014-06-13 12:59:36+00:00
Akbash                              2019-07-21 00:35:59+00:00
Akita                               2012-03-03 09:31:08+00:00
                                               ...
Wirehaired Pointing Griffon         2016-06-29 20:03:55+00:00
Wirehaired Terrier                  2012-11-27 14:07:54+00:00
Xoloitzcuintli / Mexican Hairless   2007-02-01 00:00:00+00:00
Yellow Labrador Retriever           2010-05-31 00:00:00+00:00
Yorkshire Terrier                   2012-02-04 17:14:52+00:00
Name: posted, Length: 216, dtype: datetime64[ns, UTC]

In [50]:
razza['First'] = first
razza['Last'] = last
columns_to_print = ['First', 'Last']
print(razza[columns_to_print])

                                                      First  \
breed_primary
Affenpinscher                     2012-03-08 10:27:33+00:00
Afghan Hound                      2017-06-29 23:28:51+00:00
Airedale Terrier                  2014-06-13 12:59:36+00:00
Akbash                            2019-07-21 00:35:59+00:00
Akita                             2012-03-03 09:31:08+00:00
...                                                     ...
Wirehaired Pointing Griffon       2016-06-29 20:03:55+00:00
Wirehaired Terrier                2012-11-27 14:07:54+00:00
Xoloitzcuintli / Mexican Hairless 2007-02-01 00:00:00+00:00
Yellow Labrador Retriever         2010-05-31 00:00:00+00:00
Yorkshire Terrier                 2012-02-04 17:14:52+00:00

                                                       Last
breed_primary
Affenpinscher                     2019-09-14 10:10:51+00:00
Afghan Hound                      2019-07-27 00:38:48+00:00
Airedale Terrier                  2019-09-19 18:40:39+00:00
Akbash                            2019-08-23 17:11:04+00:00
Akita                             2019-09-20 15:19:57+00:00
...                                                     ...
Wirehaired Pointing Griffon       2016-06-29 20:03:55+00:00
Wirehaired Terrier                2019-09-19 22:52:45+00:00
Xoloitzcuintli / Mexican Hairless 2019-09-08 11:15:54+00:00
Yellow Labrador Retriever         2019-09-20 06:30:27+00:00
Yorkshire Terrier                 2019-09-20 16:56:38+00:00

[216 rows x 2 columns]

# 5. For each state, compute the sex imbalance, that is the difference between male and female dogs. In which state this imbalance is largest?

In [51]:
dogs.contact_state

0        NV
1        NV
2        NV
3        NV
4        NV
         ..
58142    WY
58143    WY
58144    WY
58145    WY
58146    WY
Name: contact_state, Length: 58147, dtype: object

In [52]:
stato = dogs.groupby(by = "contact_state").count()
stato.id

contact_state
AK      15
AL    1428
AR     695
AZ    2248
CA    1664
CO    1773
CT    1422
DC     336
DE     296
FL    2659
GA    3479
HI      69
IA     485
ID      49
IL    1114
IN    1877
KS     470
KY    1123
LA     912
MA     946
MD    1493
ME     545
MI     673
MN     958
MO     920
MS     510
MT      18
NB       2
NC    2627
ND      64
NE     120
NH     335
NJ    3022
NM     636
NV     857
NY    4002
OH    2670
OK    1636
OR      91
PA    2821
QC      14
RI     607
SC    1618
SD      24
TN    1769
TX     566
UT     485
VA    3058
VT     510
WA    1277
WI     542
WV     565
WY      52
Name: id, dtype: int64

In [53]:
stato

,id,org_id,url,type.x,species,breed_primary,breed_secondary,breed_mixed,breed_unknown,color_primary,...,posted,contact_city,contact_zip,contact_country,stateQ,accessed,type.y,description,stay_duration,stay_cost
contact_state,,,,,,,,,,,,,,,,,,,,,
AK,15,15,15,15,15,15,4,15,15,15,...,15,15,15,15,15,15,15,15,15,15
AL,1428,1428,1428,1428,1428,1428,584,1428,1428,607,...,1428,1428,1428,1428,1428,1428,1424,1016,1428,1428
AR,695,695,695,695,695,695,223,695,695,386,...,695,695,695,695,695,695,693,666,695,695
AZ,2248,2248,2248,2248,2248,2248,974,2248,2248,854,...,2248,2248,2248,2248,2248,2248,2235,1640,2248,2248
CA,1664,1664,1664,1664,1664,1664,750,1664,1664,607,...,1664,1664,1664,1664,1664,1664,1646,1124,1664,1664
CO,1773,1773,1773,1773,1773,1773,518,1773,1773,395,...,1773,1773,1773,1773,1773,1773,1759,1637,1773,1773
CT,1422,1422,1422,1422,1422,1422,627,1422,1422,959,...,1422,1422,1422,1422,1422,1422,1403,1350,1422,1422
DC,336,336,336,336,336,336,142,336,336,0,...,336,336,336,336,336,336,335,303,336,336
DE,296,296,296,296,296,296,89,296,296,51,...,296,296,296,296,296,296,293,225,296,296
FL,2659,2659,2659,2659,2659,2659,902,2659,2659,1137,...,2659,2659,2659,2659,2659,2659,2621,1961,2659,2659
GA,3479,3479,3479,3479,3479,3479,1247,3479,3479,982,...,3479,3479,3479,3479,3479,3479,3394,2296,3479,3479
HI,69,69,69,69,69,69,28,69,69,0,...,69,69,69,69,69,69,69,5,69,69
IA,485,485,485,485,485,485,160,485,485,221,...,485,485,485,485,485,485,482,433,485,485
ID,49,49,49,49,49,49,26,49,49,7,...,49,49,49,49,49,49,49,47,49,49
IL,1114,1114,1114,1114,1114,1114,387,1114,1114,569,...,1114,1114,1114,1114,1114,1114,1110,998,1114,1114
IN,1877,1877,1877,1877,1877,1877,674,1877,1877,907,...,1877,1877,1877,1877,1877,1877,1853,1562,1877,1877
KS,470,470,470,470,470,470,162,470,470,142,...,470,470,470,470,470,470,469,362,470,470
KY,1123,1123,1123,1123,1123,1123,382,1123,1123,529,...,1123,1123,1123,1123,1123,1123,1112,946,1123,1123
LA,912,912,912,912,912,912,324,912,912,612,...,912,912,912,912,912,912,909,862,912,912
MA,946,946,946,946,946,946,323,946,946,603,...,946,946,945,946,946,946,926,897,946,946
MD,1493,1493,1493,1493,1493,1493,471,1493,1493,733,...,1493,1493,1493,1493,1493,1493,1464,1327,1493,1493
ME,545,545,545,545,545,545,229,545,545,282,...,545,545,545,545,545,545,541,518,545,545
MI,673,673,673,673,673,673,169,673,673,272,...,673,673,669,673,673,673,661,534,673,673
MN,958,958,958,958,958,958,364,958,958,174,...,958,958,958,958,958,958,950,812,958,958
MO,920,920,920,920,920,920,294,920,920,522,...,920,920,920,920,920,920,909,811,920,920
MS,510,510,510,510,510,510,141,510,510,221,...,510,510,510,510,510,510,507,388,510,510
MT,18,18,18,18,18,18,7,18,18,7,...,18,18,18,18,18,18,18,18,18,18
NB,2,2,2,2,2,2,1,2,2,0,...,2,2,2,2,2,2,2,2,2,2
NC,2627,2627,2627,2627,2627,2627,1002,2627,2627,1158,...,2627,2627,2627,2627,2627,2627,2608,2223,2627,2627
ND,64,64,64,64,64,64,17,64,64,52,...,64,64,64,64,64,64,64,62,64,64
NE,120,120,120,120,120,120,44,120,120,36,...,120,120,120,120,120,120,120,37,120,120
NH,335,335,335,335,335,335,102,335,335,170,...,335,335,335,335,335,335,330,330,335,335
NJ,3022,3022,3022,3022,3022,3022,1170,3022,3022,1566,...,3022,3022,3022,3022,3022,3022,2992,2909,3022,3022
NM,636,636,636,636,636,636,317,636,636,255,...,636,636,636,636,636,636,631,399,636,636
NV,857,857,857,857,857,857,312,857,857,381,...,857,857,857,857,857,857,855,697,857,857
NY,4002,4002,4002,4002,4002,4002,1294,4002,4002,2010,...,4002,4002,4002,4002,4002,4002,3973,3811,4002,4002
OH,2670,2670,2670,2670,2670,2670,857,2670,2670,1668,...,2670,2670,2670,2670,2670,2670,2638,2440,2670,2670
OK,1636,1636,1636,1636,1636,1636,546,1636,1636,909,...,1636,1636,1636,1636,1636,1636,1626,1380,1636,1636
OR,91,91,91,91,91,91,21,91,91,75,...,91,91,91,91,91,91,88,88,91,91
PA,2821,2821,2821,2821,2821,2821,1068,2821,2821,1324,...,2821,2821,2821,2821,2821,2821,2794,2687,2821,2821
QC,14,14,14,14,14,14,3,14,14,1,...,14,14,14,14,14,14,14,13,14,14
RI,607,607,607,607,607,607,195,607,607,237,...,607,607,607,607,607,607,603,597,607,607
SC,1618,1618,1618,1618,1618,1618,649,1618,1618,681,...,1618,1618,1618,1618,1618,1618,1605,1360,1618,1618
SD,24,24,24,24,24,24,10,24,24,23,...,24,24,24,24,24,24,24,24,24,24
TN,1769,1769,1769,1769,1769,1769,730,1769,1769,840,...,1769,1769,1769,1769,1769,1769,1756,1426,1769,1769
TX,566,566,566,566,566,566,172,566,566,249,...,566,566,566,566,566,566,548,385,566,566
UT,485,485,485,485,485,485,142,485,485,64,...,485,485,485,485,485,485,466,422,485,485
VA,3058,3058,3058,3058,3058,3058,806,3058,3058,1368,...,3058,3058,3051,3058,3058,3058,3009,2725,3058,3058
VT,510,510,510,510,510,510,187,510,510,283,...,510,510,510,510,510,510,508,502,510,510
WA,1277,1277,1277,1277,1277,1277,588,1277,1277,523,...,1277,1277,1277,1277,1277,1277,1260,1207,1277,1277
WI,542,542,542,542,542,542,178,542,542,239,...,542,542,542,542,542,542,532,448,542,542
WV,565,565,565,565,565,565,156,565,565,189,...,565,565,565,565,565,565,562,483,565,565
WY,52,52,52,52,52,52,37,52,52,12,...,52,52,52,52,52,52,52,32,52,52

In [54]:
#NB, QC province canadesi, DC distretto della Columbia

In [55]:
#conteggio dei cani maschio e femmina
male = []
female = []
for i in range(len(stato)):
    m = 0
    f = 0
    for j in range(len(dogs)):
        if stato.index[i] == dogs.contact_state[j]:
            if dogs.sex[j] == "Male":
                m = m + 1
            elif dogs.sex[j] == "Female":
                f = f + 1
    male.append(m)
    female.append(f)

In [56]:
stato['Male'] = male
stato['Female'] = female
columns_to_print = ['Male', 'Female']
print(stato[columns_to_print])

               Male  Female
contact_state
AK                8       7
AL              712     716
AR              344     351
AZ             1181    1066
CA              887     777
CO              861     912
CT              740     682
DC              160     176
DE              148     148
FL             1380    1279
GA             1752    1727
HI               41      28
IA              283     202
ID               25      24
IL              607     507
IN             1027     850
KS              235     235
KY              616     507
LA              466     444
MA              487     459
MD              814     679
ME              258     287
MI              356     317
MN              496     462
MO              495     425
MS              235     275
MT               11       7
NB                1       1
NC             1345    1282
ND               36      28
NE               59      61
NH              163     172
NJ             1539    1483
NM              327     309
NV              455     402
NY             2059    1943
OH             1439    1231
OK              822     814
OR               58      33
PA             1453    1368
QC                7       7
RI              301     306
SC              859     759
SD               17       7
TN              944     825
TX              279     287
UT              282     203
VA             1608    1450
VT              276     234
WA              682     595
WI              277     265
WV              333     232
WY               31      21

In [57]:
#calcolo differenza
imbalance = []
for i in range(len(stato)):
    imb = stato["Male"][i] - stato["Female"][i]
    imbalance.append(imb)

In [58]:
stato['Imbalamce(m-f)'] = imbalance
stato.sort_values(by="Imbalamce(m-f)", ascending=False, inplace=True)
columns_to_print = ['Male', 'Female','Imbalamce(m-f)']
print(stato[columns_to_print])

               Male  Female  Imbalamce(m-f)
contact_state
OH             1439    1231             208
IN             1027     850             177
VA             1608    1450             158
MD              814     679             135
TN              944     825             119
NY             2059    1943             116
AZ             1181    1066             115
CA              887     777             110
KY              616     507             109
WV              333     232             101
FL             1380    1279             101
SC              859     759             100
IL              607     507             100
WA              682     595              87
PA             1453    1368              85
IA              283     202              81
UT              282     203              79
MO              495     425              70
NC             1345    1282              63
CT              740     682              58
NJ             1539    1483              56
NV              455     402              53
VT              276     234              42
MI              356     317              39
MN              496     462              34
MA              487     459              28
GA             1752    1727              25
OR               58      33              25
LA              466     444              22
NM              327     309              18
HI               41      28              13
WI              277     265              12
SD               17       7              10
WY               31      21              10
ND               36      28               8
OK              822     814               8
MT               11       7               4
ID               25      24               1
AK                8       7               1
NB                1       1               0
QC                7       7               0
KS              235     235               0
DE              148     148               0
NE               59      61              -2
AL              712     716              -4
RI              301     306              -5
AR              344     351              -7
TX              279     287              -8
NH              163     172              -9
DC              160     176             -16
ME              258     287             -29
MS              235     275             -40
CO              861     912             -51

 # 6. For each pair (age, size), determine the average duration of the stay and the average cost of stay.

In [59]:
columns_to_print = ['age', 'size', 'stay_duration', 'stay_cost']
print(dogs[columns_to_print])

          age    size  stay_duration  stay_cost
0      Senior  Medium             70     124.81
1       Adult   Large             49     122.07
2       Adult   Large             87     281.51
3        Baby   Large             62     145.83
4       Young   Small             93     241.09
...       ...     ...            ...        ...
58142   Adult  Medium            100     324.34
58143   Young  Medium             65     245.90
58144   Adult  Medium            100     184.06
58145  Senior   Large             58      61.05
58146   Adult   Large            100     255.38

[58147 rows x 4 columns]

In [60]:
df_grouped = dogs.groupby(["age", "size"])["stay_duration", "stay_cost"].mean()
df_grouped

C:\Users\Simone\AppData\Local\Temp/ipykernel_11100/3530865154.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df_grouped = dogs.groupby(["age", "size"])["stay_duration", "stay_cost"].mean()

                    stay_duration   stay_cost
age    size
Adult  Extra Large      88.963320  232.241429
       Large            89.529731  238.651635
       Medium           89.418699  238.261390
       Small            89.410459  238.896129
Baby   Extra Large      87.032967  237.180879
       Large            89.701564  238.698827
       Medium           89.571076  237.074177
       Small            89.958291  239.083810
Senior Extra Large      88.861111  235.232361
       Large            88.997519  237.591075
       Medium           89.812827  238.552978
       Small            89.080814  238.268351
Young  Extra Large      90.586345  245.835582
       Large            90.103720  238.176077
       Medium           89.509274  239.287218
       Small            89.813677  241.513304

# 7. Find the dogs involved in at least 3 travels. Also list the breed of those dogs.

In [61]:
travel

,index,id,contact_city,contact_state,description,found,manual,remove,still_there
0,0,44520267,Anoka,MN,Boris is a handsome mini schnauzer who made hi...,Arkansas,NaN,NaN,NaN
1,1,44698509,Groveland,FL,Duke is an almost 2 year old Potcake from Abac...,Abacos,Bahamas,NaN,NaN
2,2,45983838,Adamstown,MD,Zac Woof-ron is a heartthrob movie star lookin...,Adam,Maryland,NaN,NaN
3,3,44475904,Saint Cloud,MN,~~Came in to the shelter as a transfer from an...,Adaptil,NaN,True,NaN
4,4,43877389,Pueblo,CO,Palang is such a sweetheart. She loves her peo...,Afghanistan,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
6189,6189,40492179,Fairmont,WV,Please contact Pet (information@pethelpersinc....,WV,NaN,True,NaN
6190,6190,45799729,Eagle Mountain,UT,Shiny is an approximately 4-6-year-old spayed ...,Wyoming,NaN,NaN,NaN
6191,6191,34276515,Newnan,GA,Yanni is a Male Great Pyrenees that we rescue...,Yazmin,NaN,True,NaN
6192,6192,44519341,Dayton,OH,Callie is a 14 year old Chihuahua whose owner ...,Young,Ohio,NaN,NaN
6193,6193,36659999,New York,NY,This guy loves to be outside so a person w/ a ...,Zazu,NaN,True,NaN

In [62]:
#conta dei viaggi
travels = travel.groupby(by = "id").count()
travels.reset_index(inplace=True, drop=False)
travels.rename(columns={"index": "N of travels"}, inplace=True)
columns_to_print = ['id', 'N of travels']
print(travels[columns_to_print])

            id  N of travels
0      8619716             2
1      9317153             1
2     12134429             1
3     14355301             1
4     16313278             1
...        ...           ...
4110  46042569             3
4111  46042587             3
4112  46042618             3
4113  46043099             3
4114  46043149             3

[4115 rows x 2 columns]

In [63]:
df_merged = pd.merge(dogs, travels, on="id")
df_merged

,id,org_id,url,type.x,species,breed_primary,breed_secondary,breed_mixed,breed_unknown,color_primary,...,stay_duration,stay_cost,N of travels,contact_city_y,contact_state_y,description_y,found,manual,remove,still_there
0,45923603,NV173,https://www.petfinder.com/dog/blair-45923603/n...,Dog,Dog,German Shepherd Dog,NaN,True,False,NaN,...,79,217.36,1,1,1,1,1,0,0,0
1,45923600,NV173,https://www.petfinder.com/dog/duane-45923600/n...,Dog,Dog,German Shepherd Dog,NaN,True,False,NaN,...,104,152.50,1,1,1,1,1,0,0,0
2,45289127,NV162,https://www.petfinder.com/dog/mustard-45289127...,Dog,Dog,Beagle,NaN,False,False,NaN,...,132,238.26,2,2,2,2,2,1,0,0
3,44801851,NV205,https://www.petfinder.com/dog/max-44801851/nv/...,Dog,Dog,Boxer,NaN,True,False,Bicolor,...,76,159.10,1,1,1,1,1,0,0,0
4,44731850,NV205,https://www.petfinder.com/dog/forever-44731850...,Dog,Dog,Maltese,Poodle,True,False,White / Cream,...,113,287.49,1,1,1,1,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4107,42117845,WV143,https://www.petfinder.com/dog/blue-42117845/wv...,Dog,Dog,Chihuahua,Dachshund,True,False,NaN,...,113,338.34,2,2,2,2,2,2,0,1
4108,42001061,TX1533,https://www.petfinder.com/dog/l-bonnie-4200106...,Dog,Dog,Black Labrador Retriever,Cattle Dog,True,False,Black,...,95,180.30,1,1,1,1,1,1,0,1
4109,41298157,WV143,https://www.petfinder.com/dog/petula-bark-star...,Dog,Dog,Chihuahua,NaN,True,False,NaN,...,80,259.86,2,2,2,2,2,1,1,0
4110,40492179,WV143,https://www.petfinder.com/dog/daenerys-4049217...,Dog,Dog,Beagle,Pit Bull Terrier,True,False,NaN,...,100,326.19,2,2,2,2,2,1,1,0
4111,33531529,VA36,https://www.petfinder.com/dog/susie-b-33531529...,Dog,Dog,Beagle,NaN,False,False,"Tricolor (Brown, Black, & White)",...,66,252.60,1,1,1,1,1,1,0,0

In [64]:
#stampa di solo coloro con almeno 3 viaggi +  la razza
columns_to_print = ['N of travels', 'breed_primary']
print(df_merged[df_merged["N of travels"] > 2][columns_to_print])

      N of travels        breed_primary
68               4                Jindo
236              4        Border Collie
318              3     Pit Bull Terrier
578              3   Labrador Retriever
596              3          Mixed Breed
...            ...                  ...
4001             3            Chihuahua
4008             3          Rat Terrier
4011             3     Pit Bull Terrier
4012             3     Pit Bull Terrier
4083             3  German Shepherd Dog

[561 rows x 2 columns]

# 8. Fix the travels table so that the correct state is computed from the manual and the found fields. If manual is not missing, then it overrides what is stored in found.

In [65]:
travel

,index,id,contact_city,contact_state,description,found,manual,remove,still_there
0,0,44520267,Anoka,MN,Boris is a handsome mini schnauzer who made hi...,Arkansas,NaN,NaN,NaN
1,1,44698509,Groveland,FL,Duke is an almost 2 year old Potcake from Abac...,Abacos,Bahamas,NaN,NaN
2,2,45983838,Adamstown,MD,Zac Woof-ron is a heartthrob movie star lookin...,Adam,Maryland,NaN,NaN
3,3,44475904,Saint Cloud,MN,~~Came in to the shelter as a transfer from an...,Adaptil,NaN,True,NaN
4,4,43877389,Pueblo,CO,Palang is such a sweetheart. She loves her peo...,Afghanistan,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
6189,6189,40492179,Fairmont,WV,Please contact Pet (information@pethelpersinc....,WV,NaN,True,NaN
6190,6190,45799729,Eagle Mountain,UT,Shiny is an approximately 4-6-year-old spayed ...,Wyoming,NaN,NaN,NaN
6191,6191,34276515,Newnan,GA,Yanni is a Male Great Pyrenees that we rescue...,Yazmin,NaN,True,NaN
6192,6192,44519341,Dayton,OH,Callie is a 14 year old Chihuahua whose owner ...,Young,Ohio,NaN,NaN
6193,6193,36659999,New York,NY,This guy loves to be outside so a person w/ a ...,Zazu,NaN,True,NaN

In [66]:
for i in range(len(travel)):
    if pd.notna(travel.manual[i]):
        travel.found[i] = travel.manual[i]

C:\Users\Simone\AppData\Local\Temp/ipykernel_11100/3485049673.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  travel.found[i] = travel.manual[i]

In [67]:
travel

,index,id,contact_city,contact_state,description,found,manual,remove,still_there
0,0,44520267,Anoka,MN,Boris is a handsome mini schnauzer who made hi...,Arkansas,NaN,NaN,NaN
1,1,44698509,Groveland,FL,Duke is an almost 2 year old Potcake from Abac...,Bahamas,Bahamas,NaN,NaN
2,2,45983838,Adamstown,MD,Zac Woof-ron is a heartthrob movie star lookin...,Maryland,Maryland,NaN,NaN
3,3,44475904,Saint Cloud,MN,~~Came in to the shelter as a transfer from an...,Adaptil,NaN,True,NaN
4,4,43877389,Pueblo,CO,Palang is such a sweetheart. She loves her peo...,Afghanistan,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
6189,6189,40492179,Fairmont,WV,Please contact Pet (information@pethelpersinc....,WV,NaN,True,NaN
6190,6190,45799729,Eagle Mountain,UT,Shiny is an approximately 4-6-year-old spayed ...,Wyoming,NaN,NaN,NaN
6191,6191,34276515,Newnan,GA,Yanni is a Male Great Pyrenees that we rescue...,Yazmin,NaN,True,NaN
6192,6192,44519341,Dayton,OH,Callie is a 14 year old Chihuahua whose owner ...,Ohio,Ohio,NaN,NaN
6193,6193,36659999,New York,NY,This guy loves to be outside so a person w/ a ...,Zazu,NaN,True,NaN

# 9. For each state, compute the ratio between the number of travels and the population.

In [68]:
travel

,index,id,contact_city,contact_state,description,found,manual,remove,still_there
0,0,44520267,Anoka,MN,Boris is a handsome mini schnauzer who made hi...,Arkansas,NaN,NaN,NaN
1,1,44698509,Groveland,FL,Duke is an almost 2 year old Potcake from Abac...,Bahamas,Bahamas,NaN,NaN
2,2,45983838,Adamstown,MD,Zac Woof-ron is a heartthrob movie star lookin...,Maryland,Maryland,NaN,NaN
3,3,44475904,Saint Cloud,MN,~~Came in to the shelter as a transfer from an...,Adaptil,NaN,True,NaN
4,4,43877389,Pueblo,CO,Palang is such a sweetheart. She loves her peo...,Afghanistan,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
6189,6189,40492179,Fairmont,WV,Please contact Pet (information@pethelpersinc....,WV,NaN,True,NaN
6190,6190,45799729,Eagle Mountain,UT,Shiny is an approximately 4-6-year-old spayed ...,Wyoming,NaN,NaN,NaN
6191,6191,34276515,Newnan,GA,Yanni is a Male Great Pyrenees that we rescue...,Yazmin,NaN,True,NaN
6192,6192,44519341,Dayton,OH,Callie is a 14 year old Chihuahua whose owner ...,Ohio,Ohio,NaN,NaN
6193,6193,36659999,New York,NY,This guy loves to be outside so a person w/ a ...,Zazu,NaN,True,NaN

In [69]:
state

                   state  population contact_state
0                Alabama   5.024.279            AL
1                 Alaska     733.391            AK
2                Arizona   7.151.502            AZ
3               Arkansas   3.011.524            AR
4             California  39.538.223            CA
5               Colorado   5.773.714            CO
6            Connecticut   3.605.944            CT
7               Delaware     989.948            DE
8   District of Columbia     689.545            DC
9                Florida  21.538.187            FL
10               Georgia  10.711.908            GA
11                Hawaii   1.455.271            HI
12                 Idaho   1.839.106            ID
13              Illinois  12.812.508            IL
14               Indiana   6.785.528            IN
15                  Iowa   3.190.369            IA
16                Kansas   2.937.880            KS
17              Kentucky   4.505.836            KY
18             Louisiana   4.657.757            LA
19                 Maine   1.362.359            ME
20              Maryland   6.177.224            MD
21         Massachusetts   7.029.917            MA
22              Michigan  10.077.331            MI
23             Minnesota   5.706.494            MN
24           Mississippi   2.961.279            MS
25              Missouri   6.154.913            MO
26               Montana   1.084.225            MT
27              Nebraska   1.961.504            NE
28                Nevada   3.104.614            NV
29         New Hampshire   1.377.529            NH
30            New Jersey   9.288.994            NJ
31            New Mexico   2.117.522            NM
32              New York  20.201.249            NY
33        North Carolina  10.439.388            NC
34          North Dakota     779.094            ND
35                  Ohio  11.799.448            OH
36              Oklahoma   3.959.353            OK
37                Oregon   4.237.256            OR
38          Pennsylvania  13.002.700            PA
39          Rhode Island   1.097.379            RI
40        South Carolina   5.118.425            SC
41          South Dakota     886.667            SD
42             Tennessee   6.910.840            TN
43                 Texas  29.145.505            TX
44                  Utah   3.271.616            UT
45               Vermont     643.077            VT
46              Virginia   8.631.393            VA
47            Washington   7.705.281            WA
48         West Virginia   1.793.716            WV
49             Wisconsin   5.893.718            WI
50               Wyoming     576.851            WY

In [70]:
stato_viaggi = travel.groupby(by = "contact_state").count()
stato_viaggi.rename(columns={"id": "N_of_travels"}, inplace=True)
stato_viaggi.drop('index', axis=1, inplace=True)
stato_viaggi.N_of_travels

contact_state
17325      10
AL         75
AR         10
AZ         70
CA         28
CO        103
CT         90
DC        112
DE         57
FL        133
GA        109
IA         22
IL         37
IN         65
KS          3
KY         31
LA          5
MA        107
MD        379
ME        361
MI         67
MN        190
MO         42
MS          6
NB          2
NC        187
NH         44
NJ        552
NM         82
NV         20
NY        490
OH        177
OK         31
OR         32
PA        316
RI        130
SC         21
TN        112
TX          2
UT         66
VA       1025
VT         49
WA        634
WI         83
WV         27
Name: N_of_travels, dtype: int64

In [71]:
#correzione errori
stato_viaggi.N_of_travels["PA"] = stato_viaggi.N_of_travels["PA"] + 10
stato_viaggi = stato_viaggi[1:]
stato_viaggi.reset_index(inplace=True)

In [72]:
stato_viaggi_merged = pd.merge(stato_viaggi, state, on="contact_state")
columns_to_print = ['contact_state', 'N_of_travels', 'state', 'population']
print(stato_viaggi_merged[columns_to_print])

   contact_state  N_of_travels                 state  population
0             AL            75               Alabama   5.024.279
1             AR            10              Arkansas   3.011.524
2             AZ            70               Arizona   7.151.502
3             CA            28            California  39.538.223
4             CO           103              Colorado   5.773.714
5             CT            90           Connecticut   3.605.944
6             DC           112  District of Columbia     689.545
7             DE            57              Delaware     989.948
8             FL           133               Florida  21.538.187
9             GA           109               Georgia  10.711.908
10            IA            22                  Iowa   3.190.369
11            IL            37              Illinois  12.812.508
12            IN            65               Indiana   6.785.528
13            KS             3                Kansas   2.937.880
14            KY            31              Kentucky   4.505.836
15            LA             5             Louisiana   4.657.757
16            MA           107         Massachusetts   7.029.917
17            MD           379              Maryland   6.177.224
18            ME           361                 Maine   1.362.359
19            MI            67              Michigan  10.077.331
20            MN           190             Minnesota   5.706.494
21            MO            42              Missouri   6.154.913
22            MS             6           Mississippi   2.961.279
23            NC           187        North Carolina  10.439.388
24            NH            44         New Hampshire   1.377.529
25            NJ           552            New Jersey   9.288.994
26            NM            82            New Mexico   2.117.522
27            NV            20                Nevada   3.104.614
28            NY           490              New York  20.201.249
29            OH           177                  Ohio  11.799.448
30            OK            31              Oklahoma   3.959.353
31            OR            32                Oregon   4.237.256
32            PA           326          Pennsylvania  13.002.700
33            RI           130          Rhode Island   1.097.379
34            SC            21        South Carolina   5.118.425
35            TN           112             Tennessee   6.910.840
36            TX             2                 Texas  29.145.505
37            UT            66                  Utah   3.271.616
38            VA          1025              Virginia   8.631.393
39            VT            49               Vermont     643.077
40            WA           634            Washington   7.705.281
41            WI            83             Wisconsin   5.893.718
42            WV            27         West Virginia   1.793.716

In [73]:
#adeguamento numero della popolazione
for i in range(len(stato_viaggi_merged)):
    stato_viaggi_merged['population'][i] = stato_viaggi_merged['population'][i].replace(".", "") 
    stato_viaggi_merged['population'][i] = pd.to_numeric(stato_viaggi_merged['population'][i])

C:\Users\Simone\AppData\Local\Temp/ipykernel_11100/845295217.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stato_viaggi_merged['population'][i] = stato_viaggi_merged['population'][i].replace(".", "")
C:\Users\Simone\AppData\Local\Temp/ipykernel_11100/845295217.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stato_viaggi_merged['population'][i] = pd.to_numeric(stato_viaggi_merged['population'][i])

In [74]:
#calcolo rapporto numero di viaggi / popolazione per ogni stato
ratio = []
r = 0
for i in range(len(stato_viaggi_merged)):
    r = stato_viaggi_merged.N_of_travels[i]/stato_viaggi_merged.population[i]
    ratio.append(r)

In [75]:
stato_viaggi_merged['ratio'] = ratio
columns_to_print = ['contact_state',  'state','N_of_travels', 'population', 'ratio']
stato_viaggi_merged[columns_to_print]

   contact_state                 state  N_of_travels population         ratio
0             AL               Alabama            75    5024279  1.492751e-05
1             AR              Arkansas            10    3011524  3.320578e-06
2             AZ               Arizona            70    7151502  9.788154e-06
3             CA            California            28   39538223  7.081755e-07
4             CO              Colorado           103    5773714  1.783947e-05
5             CT           Connecticut            90    3605944  2.495879e-05
6             DC  District of Columbia           112     689545  1.624259e-04
7             DE              Delaware            57     989948  5.757878e-05
8             FL               Florida           133   21538187  6.175079e-06
9             GA               Georgia           109   10711908  1.017559e-05
10            IA                  Iowa            22    3190369  6.895754e-06
11            IL              Illinois            37   12812508  2.887803e-06
12            IN               Indiana            65    6785528  9.579210e-06
13            KS                Kansas             3    2937880  1.021144e-06
14            KY              Kentucky            31    4505836  6.879966e-06
15            LA             Louisiana             5    4657757  1.073478e-06
16            MA         Massachusetts           107    7029917  1.522066e-05
17            MD              Maryland           379    6177224  6.135442e-05
18            ME                 Maine           361    1362359  2.649816e-04
19            MI              Michigan            67   10077331  6.648586e-06
20            MN             Minnesota           190    5706494  3.329540e-05
21            MO              Missouri            42    6154913  6.823817e-06
22            MS           Mississippi             6    2961279  2.026152e-06
23            NC        North Carolina           187   10439388  1.791293e-05
24            NH         New Hampshire            44    1377529  3.194125e-05
25            NJ            New Jersey           552    9288994  5.942516e-05
26            NM            New Mexico            82    2117522  3.872451e-05
27            NV                Nevada            20    3104614  6.442025e-06
28            NY              New York           490   20201249  2.425593e-05
29            OH                  Ohio           177   11799448  1.500070e-05
30            OK              Oklahoma            31    3959353  7.829562e-06
31            OR                Oregon            32    4237256  7.552057e-06
32            PA          Pennsylvania           326   13002700  2.507172e-05
33            RI          Rhode Island           130    1097379  1.184641e-04
34            SC        South Carolina            21    5118425  4.102825e-06
35            TN             Tennessee           112    6910840  1.620642e-05
36            TX                 Texas             2   29145505  6.862122e-08
37            UT                  Utah            66    3271616  2.017352e-05
38            VA              Virginia          1025    8631393  1.187526e-04
39            VT               Vermont            49     643077  7.619616e-05
40            WA            Washington           634    7705281  8.228123e-05
41            WI             Wisconsin            83    5893718  1.408279e-05
42            WV         West Virginia            27    1793716  1.505255e-05

# 10. For each dog, compute the number of days from the posted day to the day of last access.

In [76]:
dogs.posted

0        2019-09-20 16:37:59+00:00
1        2019-09-20 16:24:57+00:00
2        2019-09-20 14:10:11+00:00
3        2019-09-20 10:08:22+00:00
4        2019-09-20 06:48:30+00:00
                   ...
58142    2019-05-03 14:23:49+00:00
58143    2019-04-13 16:20:24+00:00
58144    2018-09-27 04:18:56+00:00
58145    2018-09-12 05:03:38+00:00
58146    2018-09-03 20:42:24+00:00
Name: posted, Length: 58147, dtype: object

In [77]:
dogs.accessed

0        2019-09-20
1        2019-09-20
2        2019-09-20
3        2019-09-20
4        2019-09-20
            ...
58142    2019-09-20
58143    2019-09-20
58144    2019-09-20
58145    2019-09-20
58146    2019-09-20
Name: accessed, Length: 58147, dtype: object

In [78]:
#trasformazione dei dati in tipo data e calcolo della differenza
dif = []
for i in range(len(dogs)):
    dogs.accessed[i] = pd.to_datetime(dogs.accessed[i])
    dogs.accessed[i] = dogs.accessed[i].tz_localize('UTC').tz_convert('UTC')
    dif.append(dogs.accessed[i] - dogs.posted[i])
    
dogs['difference'] = dif

C:\Users\Simone\AppData\Local\Temp/ipykernel_11100/2275443964.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dogs.accessed[i] = pd.to_datetime(dogs.accessed[i])
C:\Users\Simone\AppData\Local\Temp/ipykernel_11100/2275443964.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dogs.accessed[i] = dogs.accessed[i].tz_localize('UTC').tz_convert('UTC')

In [79]:
columns_to_print = ['id', 'difference']
dogs[columns_to_print]

             id        difference
0      46042150 -1 days +07:22:01
1      46042002 -1 days +07:35:03
2      46040898 -1 days +09:49:49
3      46039877 -1 days +13:51:38
4      46039306 -1 days +17:11:30
...         ...               ...
58142  44605893 139 days 09:36:11
58143  44457061 159 days 07:39:36
58144  42865848 357 days 19:41:04
58145  42734734 372 days 18:56:22
58146  42663515 381 days 03:17:36

[58147 rows x 2 columns]

# 11. Partition the dogs according to the number of weeks from the posted day to the day of last access.

In [80]:
#Calcolo numero di settimane
wk = []
for i in range(len(dogs)):
    wk.append(dogs.difference[i]/7)
dogs['week'] = wk

In [81]:
columns_to_print = ['id', 'difference', 'week']
dogs[columns_to_print]

             id        difference                        week
0      46042150 -1 days +07:22:01 -1 days +21:37:25.857142858
1      46042002 -1 days +07:35:03 -1 days +21:39:17.571428572
2      46040898 -1 days +09:49:49 -1 days +21:58:32.714285715
3      46039877 -1 days +13:51:38 -1 days +22:33:05.428571429
4      46039306 -1 days +17:11:30 -1 days +23:01:38.571428572
...         ...               ...                         ...
58142  44605893 139 days 09:36:11  19 days 21:56:35.857142857
58143  44457061 159 days 07:39:36  22 days 18:14:13.714285714
58144  42865848 357 days 19:41:04  51 days 02:48:43.428571428
58145  42734734 372 days 18:56:22  53 days 06:08:03.142857143
58146  42663515 381 days 03:17:36  54 days 10:45:22.285714286

[58147 rows x 3 columns]

# 12. Find for duplicates in the dogs dataset. Two records are duplicates if they have (1) same breeds and sex, and (2) they share at least 90% of the words in the description field. Extra points if you find and implement a more refined for determining if two rows are duplicates.

In [82]:
sample = dogs.sample(n=1000)

In [83]:
dup = sample.dropna(subset=["description"]).groupby(['breed_primary', 'breed_secondary', 'sex'])
dup.head()

,id,org_id,url,type.x,species,breed_primary,breed_secondary,breed_mixed,breed_unknown,color_primary,...,contact_zip,contact_country,stateQ,accessed,type.y,description,stay_duration,stay_cost,difference,week
45716,45796446,PA59,https://www.petfinder.com/dog/girl-45796446/pa...,Dog,Dog,German Shepherd Dog,NaN,False,False,NaN,...,18431,US,NY,2019-09-20 00:00:00+00:00,Dog,Girl is a very sweet senior dog who is looking...,82,221.49,20 days 07:41:51,2 days 21:40:15.857142857
45896,45210938,NY907,https://www.petfinder.com/dog/beebee-45210938/...,Dog,Dog,Mountain Cur,Rhodesian Ridgeback,True,False,NaN,...,12833,US,NY,2019-09-20 00:00:00+00:00,Dog,Beebee female 19 months. Black mouth cur mix. ...,98,66.13,71 days 23:38:56,10 days 06:48:25.142857142
57272,45200697,WI376,https://www.petfinder.com/dog/sami-45200697/wi...,Dog,Dog,Chihuahua,Pug,True,False,NaN,...,53949,US,WI,2019-09-20 00:00:00+00:00,Dog,You can fill out an adoption application onlin...,90,235.91,73 days 04:23:32,10 days 10:54:47.428571428
5708,30073704,AZ355,https://www.petfinder.com/dog/pinky-30073704/a...,Dog,Dog,Pointer,NaN,True,False,Red / Chestnut / Orange,...,85027,US,AZ,2019-09-20 00:00:00+00:00,Dog,Hi! My name is Pinky. I am a very sweet and l...,70,205.56,1857 days 00:38:44,265 days 06:56:57.714285716
55902,45947212,WA470,https://www.petfinder.com/dog/miles-45947212/w...,Dog,Dog,Miniature Pinscher,Chihuahua,True,False,Black,...,98372,US,WA,2019-09-20 00:00:00+00:00,Dog,Miles has the largest dark eyes we've seen on ...,100,259.99,7 days 17:35:26,1 days 02:30:46.571428571
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15266,25785545,NY486,https://www.petfinder.com/dog/sarah-jane-25785...,Dog,Dog,American Staffordshire Terrier,Shar-Pei,True,False,Red / Chestnut / Orange,...,11518,US,CT,2019-09-20 00:00:00+00:00,Dog,Sarah Jane is a sweet 5.5 yr old staffy/hound/...,56,130.28,2358 days 13:34:35,336 days 22:30:39.285714284
24571,44041085,FL1408,https://www.petfinder.com/dog/maxwell-44041085...,Dog,Dog,American Bulldog,Boxer,True,False,NaN,...,33592,US,FL,2019-09-20 00:00:00+00:00,Dog,You can fill out an adoption application onlin...,52,126.06,214 days 00:13:35,30 days 13:44:47.857142857
2514,45249457,AL448,https://www.petfinder.com/dog/sunshine-4524945...,Dog,Dog,Beagle,Mixed Breed,True,False,Red / Chestnut / Orange,...,36803,US,AL,2019-09-20 00:00:00+00:00,Dog,Sunshine truly is a ray of Sunshine for your d...,65,109.04,68 days 10:19:03,9 days 18:37:00.428571428
29211,45943733,IL11,https://www.petfinder.com/dog/bandit-45943733/...,Dog,Dog,Labrador Retriever,Mixed Breed,True,False,NaN,...,61554,US,IL,2019-09-20 00:00:00+00:00,Dog,Easy going as they come is how I would describ...,123,418.43,8 days 02:53:29,1 days 03:50:29.857142857
40690,45744955,NC457,https://www.petfinder.com/dog/sid-45744955/nc/...,Dog,Dog,Cattle Dog,Jack Russell Terrier,True,False,NaN,...,27502,US,NC,2019-09-20 00:00:00+00:00,Dog,You can fill out an adoption application onlin...,72,294.57,24 days 21:16:41,3 days 13:19:31.571428571

In [84]:
from fuzzywuzzy import fuzz

def similarity_score(row1, row2):
    return fuzz.token_set_ratio(row1, row2)

def keep_similar_rows(df, threshold, column_name):
    similar_rows = []
    for i, row1 in df.iterrows():
        for j, row2 in df.iterrows():
            if i != j and similarity_score(row1[column_name], row2[column_name]) >= threshold:
                similar_rows.append(i)
                break
    return df.loc[similar_rows].drop_duplicates()

dup = dup.apply(lambda x: x)
dup = keep_similar_rows(dup, 90, 'description')

dup

C:\Users\Simone\anaconda3\lib\site-packages\fuzzywuzzy\fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

,id,org_id,url,type.x,species,breed_primary,breed_secondary,breed_mixed,breed_unknown,color_primary,...,contact_zip,contact_country,stateQ,accessed,type.y,description,stay_duration,stay_cost,difference,week
35837,45041043,MS184,https://www.petfinder.com/dog/otto-45041043/me...,Dog,Dog,Cattle Dog,Labrador Retriever,True,False,NaN,...,03904,US,MA,2019-09-20 00:00:00+00:00,Dog,*Due to state laws regarding out of state adop...,73,112.14,90 days 18:14:02,12 days 23:10:34.571428571
1389,45921454,CA2083,https://www.petfinder.com/dog/alana-45921454/c...,Dog,Dog,Mixed Breed,Terrier,True,False,Apricot / Beige,...,95945,US,89423,2019-09-20 00:00:00+00:00,Dog,CUTE FUN HAPPY,106,260.38,10 days 01:32:18,1 days 10:30:19.714285714
39308,46040138,NC948,https://www.petfinder.com/dog/platty-46040138/...,Dog,Dog,Labrador Retriever,Shepherd,True,False,NaN,...,28173,US,NC,2019-09-20 00:00:00+00:00,Dog,"Introducing the Dino litter! These sweet, fuzz...",99,191.89,-1 days +13:29:50,-1 days +22:29:58.571428572
13635,44343969,AR224,https://www.petfinder.com/dog/bongo-44343969/v...,Dog,Dog,Beagle,Shepherd,True,False,NaN,...,05301,US,CT,2019-09-20 00:00:00+00:00,Dog,"If you are seeing this dog, he is AVAILABLE. W...",122,324.22,174 days 09:50:31,24 days 21:58:38.714285714
12085,45472833,NY936,https://www.petfinder.com/dog/moana-45472833/n...,Dog,Dog,Shepherd,Retriever,True,False,NaN,...,11558,US,CT,2019-09-20 00:00:00+00:00,Dog,Thank you for your interest in a Ruff House pe...,94,71.50,48 days 17:29:18,6 days 23:04:11.142857142
10872,45835592,NY480,https://www.petfinder.com/dog/lucky-45835592/n...,Dog,Dog,Labrador Retriever,Bluetick Coonhound,True,False,Black,...,12205,US,CT,2019-09-20 00:00:00+00:00,Dog,**WE ARE ALWAYS IN NEED OF FOSTER HOMES** Hom...,99,259.47,18 days 04:47:17,2 days 14:23:53.857142857
12731,45167200,NY936,https://www.petfinder.com/dog/jenkins-45167200...,Dog,Dog,Black Labrador Retriever,Mixed Breed,True,False,NaN,...,11558,US,CT,2019-09-20 00:00:00+00:00,Dog,Thank you for your interest in a Ruff House pe...,89,194.18,77 days 06:36:46,11 days 00:56:40.857142857
6254,45820379,CA2291,https://www.petfinder.com/dog/keno-45820379/ca...,Dog,Dog,German Shepherd Dog,Mixed Breed,True,False,NaN,...,93245,US,CA,2019-09-20 00:00:00+00:00,Dog,Our Adoption Fees are: \n\nPuppies (12 Months ...,81,301.64,19 days 13:32:24,2 days 19:04:37.714285714
6039,45948574,CA2291,https://www.petfinder.com/dog/amadeus-45948574...,Dog,Dog,Otterhound,Mixed Breed,True,False,NaN,...,93245,US,CA,2019-09-20 00:00:00+00:00,Dog,Our Adoption Fees are: \n\nPuppies (12 Months ...,90,282.22,7 days 13:34:24,1 days 01:56:20.571428571
9017,46015636,CT477,https://www.petfinder.com/dog/mary-46015636/ct...,Dog,Dog,Hound,Pit Bull Terrier,True,False,Black,...,06040,US,CT,2019-09-20 00:00:00+00:00,Dog,"Abe, Bill, Edie, Mary, Tess, and Theo are 10 w...",101,176.96,1 days 22:26:10,0 days 06:38:01.428571428
9018,46015633,CT477,https://www.petfinder.com/dog/edie-46015633/ct...,Dog,Dog,Hound,Pit Bull Terrier,True,False,Black,...,06040,US,CT,2019-09-20 00:00:00+00:00,Dog,"Abe, Bill, Edie, Mary, Tess, and Theo are 10 w...",79,343.03,1 days 22:29:52,0 days 06:38:33.142857142
3240,45682546,AR154,https://www.petfinder.com/dog/lucy-45682546/ar...,Dog,Dog,Labrador Retriever,Terrier,True,False,NaN,...,72560,US,AR,2019-09-20 00:00:00+00:00,Dog,Meet Lucy! She is a very sweet dog needing a g...,132,188.92,30 days 09:05:26,4 days 08:09:20.857142857
32789,45979145,OH820,https://www.petfinder.com/dog/mixon-45979145/o...,Dog,Dog,Pit Bull Terrier,Labrador Retriever,True,False,Black,...,45247,US,KY,2019-09-20 00:00:00+00:00,Dog,Now introducing the Sooner puppies! These 3 mo...,64,103.35,4 days 10:09:33,0 days 15:09:56.142857142
12631,45220431,AR224,https://www.petfinder.com/dog/toby-ready-now-4...,Dog,Dog,Labrador Retriever,Terrier,True,False,"Tricolor (Brown, Black, & White)",...,05301,US,CT,2019-09-20 00:00:00+00:00,Dog,"If you are seeing this puppy, it is AVAILABLE....",65,277.42,71 days 02:33:36,10 days 03:47:39.428571428
35994,41842180,MS184,https://www.petfinder.com/dog/junior-41842180/...,Dog,Dog,Shepherd,Labrador Retriever,True,False,"Tricolor (Brown, Black, & White)",...,03904,US,MA,2019-09-20 00:00:00+00:00,Dog,Hi!\nI'm Junior. I'm a happy-go-lucky guy that...,77,169.35,468 days 15:15:23,66 days 22:45:03.285714286
35839,45041021,MS184,https://www.petfinder.com/dog/russell-45041021...,Dog,Dog,Great Pyrenees,Shepherd,True,False,Black,...,03904,US,MA,2019-09-20 00:00:00+00:00,Dog,*Due to state laws regarding out of state adop...,78,229.18,90 days 18:43:06,12 days 23:14:43.714285714
37201,45904434,MN175,https://www.petfinder.com/dog/glue-45904434/mn...,Dog,Dog,German Shepherd Dog,Labrador Retriever,True,False,NaN,...,55311,US,MN,2019-09-20 00:00:00+00:00,Dog,You can fill out an adoption application onlin...,125,187.61,11 days 18:08:58,1 days 16:18:25.428571428
39311,46040137,NC948,https://www.petfinder.com/dog/gal-46040137/nc/...,Dog,Dog,Labrador Retriever,Shepherd,True,False,NaN,...,28173,US,NC,2019-09-20 00:00:00+00:00,Dog,"Introducing the Dino litter! These sweet, fuzz...",112,364.09,-1 days +13:29:50,-1 days +22:29:58.571428572
35741,45418349,MS184,https://www.petfinder.com/dog/twilight-4541834...,Dog,Dog,Mountain Cur,Labrador Retriever,True,False,Black,...,03904,US,MA,2019-09-20 00:00:00+00:00,Dog,*Due to state laws regarding out of state adop...,77,301.53,50 days 17:32:35,7 days 05:56:05
8862,46022945,NY480,https://www.petfinder.com/dog/zoey-46022945/ny...,Dog,Dog,Yellow Labrador Retriever,Terrier,True,False,Yellow / Tan / Blond / Fawn,...,12205,US,CT,2019-09-20 00:00:00+00:00,Dog,**WE ARE ALWAYS IN NEED OF FOSTER HOMES** Hom...,46,104.93,1 days 04:03:46,0 days 04:00:32.285714285
3239,45682544,AR154,https://www.petfinder.com/dog/rocky-45682544/a...,Dog,Dog,Pit Bull Terrier,Terrier,True,False,NaN,...,72560,US,AR,2019-09-20 00:00:00+00:00,Dog,Meet Rocky! He is a very sweet young dog needi...,91,188.10,30 days 09:05:26,4 days 08:09:20.857142857
33115,45843168,OH820,https://www.petfinder.com/dog/ruby-45843168/oh...,Dog,Dog,Collie,German Shepherd Dog,True,False,NaN,...,45247,US,KY,2019-09-20 00:00:00+00:00,Dog,Meet Ruby! Ruby is a 7 year old collie/shephe...,110,331.17,17 days 01:50:55,2 days 10:32:59.285714285