Radaelli Simone 845065

You have to work on the Dogs adoptions dataset.

It contains three files:

- dogs.csv, shortly dogs
- dogTravel.csv, shortly travels
- NST-EST2021-POP.csv

Notes

- It is mandatory to use GitHub for developing the project.
- The project must be a jupyter notebook.
- There is no restriction on the libraries that can be used, nor on the Python version.
- All questions on the project must be asked in a public channel on Zulip.
- At most 3 students can be in each group. You must create the groups by yourself.
- You do not have to send me the project before the discussion.

In [1]:
import pandas as pd
import numpy as np

In [2]:
#lettura e stampa dataset
dogs = pd.read_csv("C:/Users/Simone/Uni/MAGISTRALE/Foundation of Computer Science/dogs.csv", encoding = 'latin-1', sep=',', low_memory = False)
dogs.head()

,id,org_id,url,type.x,species,breed_primary,breed_secondary,breed_mixed,breed_unknown,color_primary,...,contact_city,contact_state,contact_zip,contact_country,stateQ,accessed,type.y,description,stay_duration,stay_cost
0,46042150,NV163,https://www.petfinder.com/dog/harley-46042150/...,Dog,Dog,American Staffordshire Terrier,Mixed Breed,True,False,White / Cream,...,Las Vegas,NV,89147,US,89009,2019-09-20,Dog,Harley is not sure how he wound up at shelter ...,70,124.81
1,46042002,NV163,https://www.petfinder.com/dog/biggie-46042002/...,Dog,Dog,Pit Bull Terrier,Mixed Breed,True,False,Brown / Chocolate,...,Las Vegas,NV,89147,US,89009,2019-09-20,Dog,6 year old Biggie has lost his home and really...,49,122.07
2,46040898,NV99,https://www.petfinder.com/dog/ziggy-46040898/n...,Dog,Dog,Shepherd,NaN,False,False,Brindle,...,Mesquite,NV,89027,US,89009,2019-09-20,Dog,Approx 2 years old.\n Did I catch your eye? I ...,87,281.51
3,46039877,NV202,https://www.petfinder.com/dog/gypsy-46039877/n...,Dog,Dog,German Shepherd Dog,NaN,False,False,NaN,...,Pahrump,NV,89048,US,89009,2019-09-20,Dog,NaN,62,145.83
4,46039306,NV184,https://www.petfinder.com/dog/theo-46039306/nv...,Dog,Dog,Dachshund,NaN,False,False,NaN,...,Henderson,NV,89052,US,89009,2019-09-20,Dog,Theo is a friendly dachshund mix who gets alon...,93,241.09

In [3]:
#lettura e stampa dataset
travel = pd.read_csv("C:/Users/Simone/Uni/MAGISTRALE/Foundation of Computer Science/dogTravel.csv", encoding = 'latin-1', sep=',', low_memory = False)
travel.head()

,index,id,contact_city,contact_state,description,found,manual,remove,still_there
0,0,44520267,Anoka,MN,Boris is a handsome mini schnauzer who made hi...,Arkansas,NaN,NaN,NaN
1,1,44698509,Groveland,FL,Duke is an almost 2 year old Potcake from Abac...,Abacos,Bahamas,NaN,NaN
2,2,45983838,Adamstown,MD,Zac Woof-ron is a heartthrob movie star lookin...,Adam,Maryland,NaN,NaN
3,3,44475904,Saint Cloud,MN,~~Came in to the shelter as a transfer from an...,Adaptil,NaN,True,NaN
4,4,43877389,Pueblo,CO,Palang is such a sweetheart. She loves her peo...,Afghanistan,NaN,NaN,NaN

In [4]:
#lettura e stampa dataset
state = pd.read_csv("C:/Users/Simone/Uni/MAGISTRALE/Foundation of Computer Science/NST-EST2021-POP.csv", encoding = 'latin-1', sep=',', low_memory = False)
state.head()

        state  population contact_state
0     Alabama   5.024.279            AL
1      Alaska     733.391            AK
2     Arizona   7.151.502            AZ
3    Arkansas   3.011.524            AR
4  California  39.538.223            CA

# 1. Extract all dogs with status that is not 'adoptable'

In [5]:
df_mask = dogs.status != "adoptable"
dogs[df_mask]

,id,org_id,url,type.x,species,breed_primary,breed_secondary,breed_mixed,breed_unknown,color_primary,...,contact_city,contact_state,contact_zip,contact_country,stateQ,accessed,type.y,description,stay_duration,stay_cost
644,41330726,NV173,https://www.petfinder.com/dog/gunther-gunny-41...,Dog,Dog,German Shepherd Dog,NaN,False,False,NaN,...,NV,89146,US,89009,2019-09-20,NaN,Dog,Meet handsome 3 year old Gunther. Gunther came...,108,256.88
5549,38169117,AZ414,https://www.petfinder.com/dog/annabelle-annie-...,Dog,Dog,Boxer,Pit Bull Terrier,True,False,Black,...,AZ,85249,US,AZ,2019-09-20,NaN,Dog,You can fill out an adoption application onlin...,80,130.77
10888,45833989,NY98,https://www.petfinder.com/dog/pepper-courtesy-...,Dog,Dog,Beagle,NaN,False,False,NaN,...,NY,12220,US,CT,2019-09-20,NaN,Dog,This is Pepper. He is a 15 year old tri-color ...,86,180.70
11983,45515547,NY98,https://www.petfinder.com/dog/cooper-courtesy-...,Dog,Dog,Mixed Breed,NaN,False,False,NaN,...,NY,12220,US,CT,2019-09-20,NaN,Dog,"Cooper is 13 years old, but according to a ver...",105,400.82
12495,45294115,NY98,https://www.petfinder.com/dog/daisy-courtesy-l...,Dog,Dog,Basset Hound,NaN,False,False,Brown / Chocolate,...,NY,12220,US,CT,2019-09-20,NaN,Dog,"ÃƒÂ¢Ã‚Â€Ã‚Â¢Basset Hound, female, ÃƒÂ¢Ã‚Â€Ã‚Â¢10 years \n\...",57,82.61
12600,45229004,NY1436,https://www.petfinder.com/dog/elmo-momo-452290...,Dog,Dog,American Bulldog,NaN,True,False,NaN,...,NY,12477,US,CT,2019-09-20,NaN,Dog,"Hello i'm MoMo or Elmo , 7 year old, mixed bre...",73,136.30
12613,45227052,NY1436,https://www.petfinder.com/dog/bianca-pinky-452...,Dog,Dog,Mixed Breed,NaN,False,False,White / Cream,...,NY,12477,US,CT,2019-09-20,NaN,Dog,"Hello I'm Bianca, a female, 7 year old mixed b...",107,231.31
17619,45569380,CA1209,https://www.petfinder.com/dog/baby-girl-455693...,Dog,Dog,Maltese,NaN,False,False,White / Cream,...,VA,20136,US,DC,2019-09-20,NaN,Dog,This 10-year young senior is very sweet and lo...,76,263.63
18611,44694387,MD295,https://www.petfinder.com/dog/king-bert-bertie...,Dog,Dog,Fox Terrier,Chihuahua,True,False,Bicolor,...,MD,20905,US,DC,2019-09-20,NaN,Dog,"\""Bertie\"" came to us from the shelter. He wa...",61,158.84
19747,36978896,VA127,https://www.petfinder.com/dog/maddie-cutie-pat...,Dog,Dog,Alaskan Malamute,NaN,False,False,Bicolor,...,PA,17325,US,DC,2019-09-20,NaN,Dog,Maddie is our little Miss Cutie Patootie! She ...,119,431.66
19845,33218331,VA127,https://www.petfinder.com/dog/bucky-are-u-my-h...,Dog,Dog,Alaskan Malamute,Siberian Husky,True,False,Gray / Blue / Silver,...,PA,17325,US,DC,2019-09-20,NaN,Dog,"Born in August 2014, Bucky has a great sense o...",98,346.67
22161,42092005,PA738,https://www.petfinder.com/dog/chloe-little-ras...,Dog,Dog,Pit Bull Terrier,Pointer,True,False,Black,...,PA,19063,US,DE,2019-09-20,NaN,Dog,"Meet Chloe our \""Little Rascal.\",113,279.59
22229,39594038,PA562,https://www.petfinder.com/dog/cozi-h-wilson-lo...,Dog,Dog,Pit Bull Terrier,NaN,True,False,NaN,...,PA,19053,US,DE,2019-09-20,NaN,Dog,01.04.19\nHi Folks! IÃƒÂ¢Ã‚Â€Ã‚Â™m Cozi and IÃƒÂ¢Ã‚Â€Ã‚Â™m...,88,360.84
29283,45895274,IL688,https://www.petfinder.com/dog/gibson-edgar-gib...,Dog,Dog,Labrador Retriever,NaN,True,False,Brown / Chocolate,...,IL,61944,US,IL,2019-09-20,NaN,Dog,Gibson Edgar is a 12 month old male Lab mix th...,74,121.56
30471,45964719,IN694,https://www.petfinder.com/dog/puppies-berries-...,Dog,Dog,American Staffordshire Terrier,Border Collie,True,False,Black,...,IN,46158,US,IN,2019-09-20,NaN,Dog,11 Berry Pups\nIndividual pics will be done. ...,127,429.87
31581,44538917,OH907,https://www.petfinder.com/dog/leila-courtesy-p...,Dog,Dog,Australian Shepherd,Husky,True,False,"Tricolor (Brown, Black, & White)",...,OH,45061,US,IN,2019-09-20,NaN,Dog,THIS IS A COURTESY POST (this means that any a...,92,188.49
31888,41430442,OH907,https://www.petfinder.com/dog/eden-in-training...,Dog,Dog,Hound,NaN,True,False,White / Cream,...,OH,45061,US,IN,2019-09-20,NaN,Dog,Eden is estimated 3 years old and weighs 40 lb...,97,238.60
33000,45907639,IN714,https://www.petfinder.com/dog/coach-chris-mack...,Dog,Dog,Chihuahua,Beagle,True,False,Yellow / Tan / Blond / Fawn,...,IN,47131,US,KY,2019-09-20,NaN,Dog,"Mack is a 2 year old, 13 pound furry chihuahua...",101,478.36
33527,45362806,OH852,https://www.petfinder.com/dog/liberty-libby-45...,Dog,Dog,Pomeranian,NaN,False,False,NaN,...,OH,45249,US,KY,2019-09-20,NaN,Dog,Liberty came to us on the 3rd of July - she ha...,65,185.05
34188,32590894,IN595,https://www.petfinder.com/dog/samson-sam-32590...,Dog,Dog,Mastiff,Labrador Retriever,True,False,Black,...,IN,47454,US,KY,2019-09-20,NaN,Dog,DUE TO PROBLEMS WITH THE CURRENT PETFINDER UPD...,116,413.96
35065,31426754,LA256,https://www.petfinder.com/dog/sully-sullivan-3...,Dog,Dog,Pit Bull Terrier,NaN,False,False,Black,...,LA,70601,US,LA,2019-09-20,NaN,Dog,Hi my name is Sully! I get along with most dog...,122,204.63
44830,46037827,NM133,https://www.petfinder.com/dog/periwinkle-wink-...,Dog,Dog,Australian Shepherd,Spaniel,True,False,Brown / Chocolate,...,NM,87108,US,NM,2019-09-20,NaN,Dog,We take the time to post pertinent information...,85,296.75
53168,44044071,TN669,https://www.petfinder.com/dog/raymond-reddingt...,Dog,Dog,American Staffordshire Terrier,NaN,True,False,Red / Chestnut / Orange,...,TN,38506,US,TN,2019-09-20,NaN,Dog,Red is a 4-5 yr old Staffey mix that is a wig...,88,230.12
53539,27521132,TN577,https://www.petfinder.com/dog/norma-rose-rosie...,Dog,Dog,Yellow Labrador Retriever,American Staffordshire Terrier,True,False,Yellow / Tan / Blond / Fawn,...,TN,37189,US,TN,2019-09-20,NaN,Dog,Robyn's Nest Animal Rescue & SanctuaryNashvill...,93,300.50
55434,38473806,VA486,https://www.petfinder.com/dog/markey-moose-384...,Dog,Dog,Hound,NaN,False,False,White / Cream,...,VA,24588,US,VA,2019-09-20,NaN,Dog,"Markey \""Moose\"" first came to us after being ...",78,71.15
55467,34101432,VA628,https://www.petfinder.com/dog/george-boy-georg...,Dog,Dog,Labrador Retriever,NaN,True,False,Yellow / Tan / Blond / Fawn,...,VA,23112,US,VA,2019-09-20,NaN,Dog,Contact dojennings@Comcast.net or Debbie Jenni...,115,320.23
55915,45958435,WA581,https://www.petfinder.com/dog/skipper-45958435...,Dog,Dog,Yorkshire Terrier,Terrier,True,False,"Tricolor (Brown, Black, & White)",...,WA,98106,US,WA,2019-09-20,NaN,Dog,For a quicker response please submit a online ...,102,338.18
55975,45927580,WA581,https://www.petfinder.com/dog/bella-45927580/w...,Dog,Dog,Chihuahua,NaN,False,False,White / Cream,...,WA,98106,US,WA,2019-09-20,NaN,Dog,"Meet \""Bella\"" She is a adorable and 7 pounds ...",102,407.51
56013,45916348,WA581,https://www.petfinder.com/dog/cody-45916348/wa...,Dog,Dog,Golden Retriever,Terrier,True,False,Bicolor,...,WA,98106,US,WA,2019-09-20,NaN,Dog,*Please apply online at www.6dogrees.com to ge...,92,164.55
56248,45733027,WA581,https://www.petfinder.com/dog/gracie-45733027/...,Dog,Dog,Papillon,Cavalier King Charles Spaniel,True,False,Golden,...,WA,98106,US,WA,2019-09-20,NaN,Dog,"Meet \""Gracie\"" a very beautiful 11 pound,fema...",82,168.54
56464,45413997,WA581,https://www.petfinder.com/dog/jameson-45413997...,Dog,Dog,Rat Terrier,Chihuahua,True,False,"Tricolor (Brown, Black, & White)",...,WA,98106,US,WA,2019-09-20,NaN,Dog,"Meet \""Jameson\"" He is a very handsome 9 pound...",108,297.27
56473,45406516,WA581,https://www.petfinder.com/dog/canelo-45406516/...,Dog,Dog,Chihuahua,Terrier,True,False,Bicolor,...,WA,98106,US,WA,2019-09-20,NaN,Dog,"Meet Canelo a adorable small, tan very sweet...",94,312.10
56541,45264615,WA581,https://www.petfinder.com/dog/noni-45264615/wa...,Dog,Dog,Chihuahua,Terrier,True,False,Black,...,WA,98106,US,WA,2019-09-20,NaN,Dog,"Meet \""Noni\"" She is a Black and white smooth ...",77,290.16

# 2. For each (primary) breed, determine the number of dogs

In [6]:
razza = dogs.groupby(by = "breed_primary").count()
razza.id

breed_primary
Affenpinscher                         17
Afghan Hound                           4
Airedale Terrier                      19
Akbash                                 3
Akita                                181
                                    ...
Wirehaired Pointing Griffon            1
Wirehaired Terrier                    60
Xoloitzcuintli / Mexican Hairless     11
Yellow Labrador Retriever            158
Yorkshire Terrier                    360
Name: id, Length: 216, dtype: int64

# 3. For each (primary) breed, determine the ratio between the number of dogs of Mixed Breed and those not of Mixed Breed. Hint: look at the secondary_breed.

In [7]:
#spampa dimensioni dateset
dim=np.array(dogs)
dim.shape

(58180, 37)

In [8]:
#spampa dimensioni dateset
dim_razza =np.array(razza)
dim_razza.shape

(216, 36)

In [85]:
#conta dei cani di razza mista e non
lmix = []
lnmix = []
for i in range(len(razza)):
    mix = 0
    nmix = 0
    for j in range(len(dogs)):
        if razza.index[i] == dogs.breed_primary[j]:
            if dogs.breed_mixed[j] :
                mix = mix + 1
            elif not(dogs.breed_mixed[i]) :
                nmix = nmix +1
    lmix.append(mix)
    lnmix.append(nmix)

In [86]:
razza['Mixed'] = lmix
razza['Not_Mixed'] = lnmix
columns_to_print = ['Mixed', 'Not_Mixed']
print(razza[columns_to_print])

                                   Mixed  Not_Mixed
breed_primary
Affenpinscher                          5          0
Afghan Hound                           4          0
Airedale Terrier                      17          0
Akbash                                 2          0
Akita                                 83         98
...                                  ...        ...
Wirehaired Pointing Griffon            1          0
Wirehaired Terrier                    45         15
Xoloitzcuintli / Mexican Hairless      5          0
Yellow Labrador Retriever            121          0
Yorkshire Terrier                    202          0

[216 rows x 2 columns]

# 4. For each (primary) breed, determine the earliest and the latest posted timestamp.

In [36]:
dim=np.array(dogs)
dim.shape

(58158, 37)

In [37]:
#find a error
a = 0
for i in range(len(dogs)):
     if dogs.posted[i] == 'Las Vegas':
            a = dogs.index[i]
dogs = dogs.drop(a)
dogs = dogs.reset_index(drop=True)
len(dogs)

58157

In [38]:
#find a error
b = 0
for i in range(len(dogs)):
     if dogs.posted[i] == 'Chandler':
            b = dogs.index[i]
dogs = dogs.drop(b)
dogs = dogs.reset_index(drop=True)
len(dogs)

58156

In [39]:
#find a error
c = 0
for i in range(len(dogs)):
     if dogs.posted[i] == 'Albany':
            c = dogs.index[i]
dogs = dogs.drop(c)
dogs = dogs.reset_index(drop=True)
len(dogs)

58155

In [40]:
#find a error
d = 0
for i in range(len(dogs)):
     if dogs.posted[i] == 'Albany':
            d = dogs.index[i]
dogs = dogs.drop(d)
dogs = dogs.reset_index(drop=True)
len(dogs)

58154

In [41]:
#find a error
e= 0
for i in range(len(dogs)):
     if dogs.posted[i] == 'Albany':
            e = dogs.index[i]
dogs = dogs.drop(e)
dogs = dogs.reset_index(drop=True)
len(dogs)

58153

In [42]:
#find a error
f= 0
for i in range(len(dogs)):
     if dogs.posted[i] == 'Saugerties':
            f = dogs.index[i]
dogs = dogs.drop(f)
dogs = dogs.reset_index(drop=True)
len(dogs)

58152

In [43]:
#find a error
g = 0
for i in range(len(dogs)):
     if dogs.posted[i] == 'Saugerties':
            g = dogs.index[i]
dogs = dogs.drop(g)
dogs = dogs.reset_index(drop=True)
len(dogs)

58151

In [44]:
#find a error
h = 0
for i in range(len(dogs)):
     if dogs.posted[i] == 'Bristow':
            h = dogs.index[i]
dogs = dogs.drop(h)
dogs = dogs.reset_index(drop=True)
len(dogs)

58150

In [45]:
#find a error
l = 0
for i in range(len(dogs)):
     if dogs.posted[i] == 'Silver Spring':
            l = dogs.index[i]
dogs = dogs.drop(l)
dogs = dogs.reset_index(drop=True)
len(dogs)

58149

In [46]:
#find a error
m = 0
for i in range(len(dogs)):
     if dogs.posted[i] == 'Gettysburg':
            m = dogs.index[i]
dogs = dogs.drop(m)
dogs = dogs.reset_index(drop=True)
len(dogs)

58148

In [47]:
#find a error
n = 0
for i in range(len(dogs)):
     if dogs.posted[i] == 'Gettysburg':
            n = dogs.index[i]
dogs = dogs.drop(n)
dogs = dogs.reset_index(drop=True)
len(dogs)

58147

In [48]:
#find a error
o = 0
for i in range(len(dogs)):
     if dogs.posted[i] == 'Media':
            o = dogs.index[i]
dogs = dogs.drop(o)
dogs = dogs.reset_index(drop=True)
len(dogs)

58146

In [49]:
#find a error
p = 0
for i in range(len(dogs)):
     if dogs.posted[i] == 'Feasterville':
            p = dogs.index[i]
dogs = dogs.drop(p)
dogs = dogs.reset_index(drop=True)
len(dogs)

58145

In [50]:
#find a error
q = 0
for i in range(len(dogs)):
     if dogs.posted[i] == 'Paris':
            q = dogs.index[i]
dogs = dogs.drop(q)
dogs = dogs.reset_index(drop=True)
len(dogs)

58144

In [51]:
#find a error
r = 0
for i in range(len(dogs)):
     if dogs.posted[i] == 'Mooresville':
            r = dogs.index[i]
dogs = dogs.drop(r)
dogs = dogs.reset_index(drop=True)
len(dogs)

58143

In [52]:
#find a error
s = 0
for i in range(len(dogs)):
     if dogs.posted[i] == 'Ross':
            s = dogs.index[i]
dogs = dogs.drop(s)
dogs = dogs.reset_index(drop=True)
len(dogs)

58142

In [53]:
#find a error
t = 0
for i in range(len(dogs)):
     if dogs.posted[i] == 'Ross':
            t = dogs.index[i]
dogs = dogs.drop(t)
dogs = dogs.reset_index(drop=True)
len(dogs)

58141

In [54]:
#find a error
u = 0
for i in range(len(dogs)):
     if dogs.posted[i] == 'Jeffersonville':
            u = dogs.index[i]
dogs = dogs.drop(u)
dogs = dogs.reset_index(drop=True)
len(dogs)

58140

In [55]:
#find a error
v = 0
for i in range(len(dogs)):
     if dogs.posted[i] == 'Cincinnati':
            v = dogs.index[i]
dogs = dogs.drop(v)
dogs = dogs.reset_index(drop=True)
len(dogs)

58139

In [56]:
#find a error
z = 0
for i in range(len(dogs)):
    if dogs.posted[i] == 'Paoli':
        z = dogs.index[i]
dogs = dogs.drop(z)
dogs = dogs.reset_index(drop=True)
len(dogs)

58138

In [57]:
#find a error
j = 0
for i in range(len(dogs)):
     if dogs.posted[i] == 'lake charles':
            j = dogs.index[i]
dogs = dogs.drop(j)
dogs = dogs.reset_index(drop=True)
len(dogs)

58137

In [58]:
#find a error
k = 0
for i in range(len(dogs)):
     if dogs.posted[i] == 'Albuquerque':
            k = dogs.index[i]
dogs = dogs.drop(k)
dogs = dogs.reset_index(drop=True)
len(dogs)

58136

In [59]:
#find a error
w = 0
for i in range(len(dogs)):
     if dogs.posted[i] == 'Cookeville':
            w = dogs.index[i]
dogs = dogs.drop(w)
dogs = dogs.reset_index(drop=True)
len(dogs)

58135

In [60]:
#find a error
x = 0
for i in range(len(dogs)):
     if dogs.posted[i] == 'Nashville':
            x = dogs.index[i]
dogs = dogs.drop(x)
dogs = dogs.reset_index(drop=True)
len(dogs)

58134

In [61]:
#find a error
z = 0
for i in range(len(dogs)):
     if dogs.posted[i] == 'Rustburg':
            z = dogs.index[i]
dogs = dogs.drop(z)
dogs = dogs.reset_index(drop=True)
len(dogs)

58133

In [62]:
#find a error
aa = 0
for i in range(len(dogs)):
     if dogs.posted[i] == 'Midlothian':
            aa = dogs.index[i]
dogs = dogs.drop(aa)
dogs = dogs.reset_index(drop=True)
len(dogs)

58132

In [63]:
#find a error
bb = 0
for i in range(len(dogs)):
     if dogs.posted[i] == 'Seattle':
            bb = dogs.index[i]
dogs = dogs.drop(bb)
dogs = dogs.reset_index(drop=True)
len(dogs)

58131

In [64]:
#find a error
cc = 0
for i in range(len(dogs)):
     if dogs.posted[i] == 'Seattle':
            cc = dogs.index[i]
dogs = dogs.drop(cc)
dogs = dogs.reset_index(drop=True)
len(dogs)

58130

In [65]:
#find a error
dd = 0
for i in range(len(dogs)):
     if dogs.posted[i] == 'Seattle':
            dd = dogs.index[i]
dogs = dogs.drop(dd)
dogs = dogs.reset_index(drop=True)
len(dogs)

58129

In [66]:
#find a error
ee = 0
for i in range(len(dogs)):
     if dogs.posted[i] == 'Seattle':
            ee = dogs.index[i]
dogs = dogs.drop(ee)
dogs = dogs.reset_index(drop=True)
len(dogs)

58128

In [67]:
#find a error
ff = 0
for i in range(len(dogs)):
     if dogs.posted[i] == 'Seattle':
            ff = dogs.index[i]
dogs = dogs.drop(ff)
dogs = dogs.reset_index(drop=True)
len(dogs)

58127

In [68]:
#find a error
gg = 0
for i in range(len(dogs)):
     if dogs.posted[i] == 'Seattle':
            gg = dogs.index[i]
dogs = dogs.drop(gg)
dogs = dogs.reset_index(drop=True)
len(dogs)

58126

In [69]:
#find a error
hh = 0
for i in range(len(dogs)):
     if dogs.posted[i] == 'Seattle':
            hh = dogs.index[i]
dogs = dogs.drop(hh)
dogs = dogs.reset_index(drop=True)
len(dogs)

58125

In [70]:
#numero di errori 
num_err = dim.shape[0] - len(dogs)
num_err

33

In [71]:
#valore percentuale delle righe tolte
perc = num_err*100/dim.shape[0]
perc

0.05674197874754978

In [73]:
for i in range(len(dogs)):
    dogs.posted[i] = pd.to_datetime(dogs.posted[i])

C:\Users\Simone\AppData\Local\Temp/ipykernel_12460/4152476010.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dogs.posted[i] = pd.to_datetime(dogs.posted[i])

In [82]:
last = dogs.groupby(['breed_primary'])['posted'].max()
last

breed_primary
Affenpinscher                       2019-09-14 10:10:51+00:00
Afghan Hound                        2019-07-27 00:38:48+00:00
Airedale Terrier                    2019-09-19 18:40:39+00:00
Akbash                              2019-08-23 17:11:04+00:00
Akita                               2019-09-20 15:19:57+00:00
                                               ...
Wirehaired Pointing Griffon         2016-06-29 20:03:55+00:00
Wirehaired Terrier                  2019-09-19 22:52:45+00:00
Xoloitzcuintli / Mexican Hairless   2019-09-08 11:15:54+00:00
Yellow Labrador Retriever           2019-09-20 06:30:27+00:00
Yorkshire Terrier                   2019-09-20 16:56:38+00:00
Name: posted, Length: 216, dtype: datetime64[ns, UTC]

In [83]:
first = dogs.groupby(['breed_primary'])['posted'].min()
first

breed_primary
Affenpinscher                       2012-03-08 10:27:33+00:00
Afghan Hound                        2017-06-29 23:28:51+00:00
Airedale Terrier                    2014-06-13 12:59:36+00:00
Akbash                              2019-07-21 00:35:59+00:00
Akita                               2012-03-03 09:31:08+00:00
                                               ...
Wirehaired Pointing Griffon         2016-06-29 20:03:55+00:00
Wirehaired Terrier                  2012-11-27 14:07:54+00:00
Xoloitzcuintli / Mexican Hairless   2007-02-01 00:00:00+00:00
Yellow Labrador Retriever           2010-05-31 00:00:00+00:00
Yorkshire Terrier                   2012-02-04 17:14:52+00:00
Name: posted, Length: 216, dtype: datetime64[ns, UTC]

In [84]:
razza['First'] = first
razza['Last'] = last
columns_to_print = ['First', 'Last']
print(razza[columns_to_print])

                                                      First  \
breed_primary
Affenpinscher                     2012-03-08 10:27:33+00:00
Afghan Hound                      2017-06-29 23:28:51+00:00
Airedale Terrier                  2014-06-13 12:59:36+00:00
Akbash                            2019-07-21 00:35:59+00:00
Akita                             2012-03-03 09:31:08+00:00
...                                                     ...
Wirehaired Pointing Griffon       2016-06-29 20:03:55+00:00
Wirehaired Terrier                2012-11-27 14:07:54+00:00
Xoloitzcuintli / Mexican Hairless 2007-02-01 00:00:00+00:00
Yellow Labrador Retriever         2010-05-31 00:00:00+00:00
Yorkshire Terrier                 2012-02-04 17:14:52+00:00

                                                       Last
breed_primary
Affenpinscher                     2019-09-14 10:10:51+00:00
Afghan Hound                      2019-07-27 00:38:48+00:00
Airedale Terrier                  2019-09-19 18:40:39+00:00
Akbash                            2019-08-23 17:11:04+00:00
Akita                             2019-09-20 15:19:57+00:00
...                                                     ...
Wirehaired Pointing Griffon       2016-06-29 20:03:55+00:00
Wirehaired Terrier                2019-09-19 22:52:45+00:00
Xoloitzcuintli / Mexican Hairless 2019-09-08 11:15:54+00:00
Yellow Labrador Retriever         2019-09-20 06:30:27+00:00
Yorkshire Terrier                 2019-09-20 16:56:38+00:00

[216 rows x 2 columns]

# 5. For each state, compute the sex imbalance, that is the difference between male and female dogs. In which state this imbalance is largest?

In [ ]:
dogs.contact_state

In [ ]:
stato = dogs.groupby(by = "contact_state").count()
stato.id

In [ ]:
#infividuazione degli errori
stato.id[:22]

In [ ]:
stato.id[22:]

In [ ]:
#aggiustamenti dei dati del dataset
stato.id["NY"] = stato.id["NY"] + 3 + 2
stato.id["PA"] = stato.id["PA"] + 2 + 1 + 1
stato.id["VA"] = stato.id["VA"] + 1 + 1 + 1
stato.id["MD"] = stato.id["MD"] + 1 
stato.id["TN"] = stato.id["TN"] + 1 + 1
stato.id["OH"] = stato.id["OH"] + 2 + 1 
stato.id["IN"] = stato.id["IN"] + 1 + 1 + 1
stato.id["IL"] = stato.id["IL"] + 1 
stato.id["LA"] = stato.id["LA"] + 1 
stato.id["AZ"] = stato.id["AZ"] + 1 
stato.id["NM"] = stato.id["NM"] + 1 
stato.id["NV"] = stato.id["NV"] + 1
stato.id["WA"] = stato.id["WA"] + 7

In [ ]:
stato = stato[22:]

In [ ]:
stato

In [ ]:
#NB, QC in piÃ¹

In [ ]:
#conteggio dei cani maschio e femmina
male = []
female = []
for i in range(len(stato)):
    m = 0
    f = 0
    for j in range(len(dogs)):
        if stato.index[i] == dogs.contact_state[j]:
            if dogs.sex[j] == "Male":
                m = m + 1
            elif dogs.sex[j] == "Female":
                f = f + 1
    male.append(m)
    female.append(f)

In [ ]:
stato['Male'] = male
stato['Female'] = female
columns_to_print = ['Male', 'Female']
print(stato[columns_to_print])

In [ ]:
#calcolo differenza
imbalance = []
for i in range(len(stato)):
    imb = stato["Male"][i] - stato["Female"][i]
    imbalance.append(imb)

In [ ]:
stato['Imbalamce(m-f)'] = imbalance
stato.sort_values(by="Imbalamce(m-f)", ascending=False, inplace=True)
columns_to_print = ['Male', 'Female','Imbalamce(m-f)']
print(stato[columns_to_print])

 # 6. For each pair (age, size), determine the average duration of the stay and the average cost of stay.

In [ ]:
columns_to_print = ['age', 'size', 'stay_duration', 'stay_cost']
print(dogs[columns_to_print])

In [ ]:
df_grouped = dogs.groupby(["age", "size"])["stay_duration", "stay_cost"].mean()
df_grouped

# 7. Find the dogs involved in at least 3 travels. Also list the breed of those dogs.

In [ ]:
travel

In [ ]:
#conta dei viaggi
travels = travel.groupby(by = "id").count()
travels.reset_index(inplace=True, drop=False)
travels.rename(columns={"index": "N of travels"}, inplace=True)
columns_to_print = ['id', 'N of travels']
print(travels[columns_to_print])

In [ ]:
df_merged = pd.merge(dogs, travels, on="id")
df_merged

In [ ]:
#stampa di solo coloro con almeno 3 viaggi +  la razza
columns_to_print = ['N of travels', 'breed_primary']
print(df_merged[df_merged["N of travels"] > 2][columns_to_print])

# 8. Fix the travels table so that the correct state is computed from the manual and the found fields. If manual is not missing, then it overrides what is stored in found.

In [ ]:
travel

In [ ]:
for i in range(len(travel)):
    if pd.notna(travel.manual[i]):
        travel.found[i] = travel.manual[i]

In [ ]:
travel

# 9. For each state, compute the ratio between the number of travels and the population.

In [ ]:
travel

In [ ]:
state

In [ ]:
stato_viaggi = travel.groupby(by = "contact_state").count()
stato_viaggi.rename(columns={"id": "N_of_travels"}, inplace=True)
stato_viaggi.drop('index', axis=1, inplace=True)
stato_viaggi.N_of_travels

In [ ]:
#correzione errori
stato_viaggi.N_of_travels["PA"] = stato_viaggi.N_of_travels["PA"] + 10
stato_viaggi = stato_viaggi[1:]
stato_viaggi.reset_index(inplace=True)

In [ ]:
stato_viaggi_merged = pd.merge(stato_viaggi, state, on="contact_state")
columns_to_print = ['contact_state', 'N_of_travels', 'state', 'population']
print(stato_viaggi_merged[columns_to_print])

In [ ]:
#adeguamento numero della popolazione
for i in range(len(stato_viaggi_merged)):
    stato_viaggi_merged['population'][i] = stato_viaggi_merged['population'][i].replace(".", "") 
    stato_viaggi_merged['population'][i] = pd.to_numeric(stato_viaggi_merged['population'][i])

In [ ]:
#calcolo rapporto numero di viaggi / popolazione per ogni stato
ratio = []
r = 0
for i in range(len(stato_viaggi_merged)):
    r = stato_viaggi_merged.N_of_travels[i]/stato_viaggi_merged.population[i]
    ratio.append(r)

In [ ]:
stato_viaggi_merged['ratio'] = ratio
columns_to_print = ['contact_state',  'state','N_of_travels', 'population', 'ratio']
stato_viaggi_merged[columns_to_print]

# 10. For each dog, compute the number of days from the posted day to the day of last access.

In [ ]:
dogs.posted

In [ ]:
dogs.accessed

In [ ]:
#trasformazione dei dati in tipo data e calcolo della differenza
dif = []
for i in range(len(dogs)):
    dogs.accessed[i] = pd.to_datetime(dogs.accessed[i])
    dogs.accessed[i] = dogs.accessed[i].tz_localize('UTC').tz_convert('UTC')
    dif.append(dogs.accessed[i] - dogs.posted[i])
    
dogs['difference'] = dif

In [ ]:
columns_to_print = ['id', 'difference']
dogs[columns_to_print]

# 11. Partition the dogs according to the number of weeks from the posted day to the day of last access.

In [ ]:
#Calcolo numero di settimane
wk = []
for i in range(len(dogs)):
    wk.append(dogs.difference[i]/7)
dogs['week'] = wk

In [ ]:
columns_to_print = ['id', 'difference', 'week']
dogs[columns_to_print]

# 12. Find for duplicates in the dogs dataset. Two records are duplicates if they have (1) same breeds and sex, and (2) they share at least 90% of the words in the description field. Extra points if you find and implement a more refined for determining if two rows are duplicates.

In [ ]:
dogs

In [ ]:
indexes = []
for i in range(len(dogs)):
    ind = []
    for j in range(len(dogs)):
        if(i != j) & (dogs.breed_primary[i] == dogs.breed_primary[j]) & (dogs.sex[i] == dogs.sex[j]) & (not pd.isnull(dogs['description'][i])) & (not pd.isnull(dogs['description'][j])):
            print(i)
            print(j)
            
            dogs['words1'] = dogs['description'][i].split()
            dogs['words2'] = dogs['description'][j].split()
            
            word_counts1 = dogs['words1'].apply(lambda x: pd.value_counts(x)).sum(axis=0)
            word_counts2 = dogs['words2'].apply(lambda x: pd.value_counts(x)).sum(axis=0)
            
            common_percentage1 = (word_counts1 & word_counts2).sum() / word_counts1.sum()
            common_percentage2 = (word_counts1 & word_counts2).sum() / word_counts2.sum()
            
            result = common_percentage1 >= 0.95 and common_percentage2 >= 0.95
            
            if (result):
                ind.append(dogs.id[j]) 
    indexes.append(ind)

In [ ]:
dogs.breed_primary[i]

In [ ]:
dogs.breed_primary[j]

In [ ]:
dogs.sex[i]

In [ ]:
dogs.sex[j]

In [ ]:
dogs['description'][i]

In [ ]:
dogs['description'][j]

In [ ]:
len(dogs['description'][i])

In [ ]:
len(dogs['description'][j])

In [ ]:
dogs['duplicates'] = indexes

In [ ]:
li1 = dogs['description'][i].split()
type(li1)

In [ ]:
dogs['words1'] = li1

In [ ]:
dogs['description'][i].split().apply(lambda x: pd.value_counts(x)).sum(axis=0)

In [ ]:
not (pd.isnull(dogs['description'][i]))

In [ ]:
~(pd.isnull(dogs['description'][i]))

In [ ]:
prova = dogs['description'][i].split()

In [ ]:
type(prova)